.sidebar {
  width: 358px;
  margin-bottom: 30px;

  .sidebar__contents {
    margin-top: 28px;
    padding: 26px 20px 10px;

    h4 {
      font-size: 20px;
      margin-top: 0;
      text-align: center;
    }
  }

  .concept {
    ul {
      padding-left: 20px;
    }

    li {
      font-size: 17px;
      color: #000;
    }

    p {
      color: #000;
    }
  }

  .sidebar__skill-blog {

    .skill-blog__contents {
      background-color: #fff;
      flex-direction: column;
      display: flex;
    }

    .skill-blog__meta {
      display: flex;
      align-items: center;

      .skill-blog__tag {
        width: 150px;
        margin-left: 16px;
        font-size: 13px;
      }
    }

    .skill-blog__ttl {
      font-size: 16px;
    }

    .more-link {
      padding-right: 0;
      margin-top: 12px;
    }
  }

  .sidebar__study-blog {

    .study-blog__contents {
      background-color: #fff;
      flex-direction: column;
      display: flex;
    }

    .study-blog__meta {
      display: flex;
      align-items: center;

      .study-blog__tag {
        width: 150px;
        margin-left: 16px;
        font-size: 13px;
      }
    }

    .study-blog__ttl {
      font-size: 16px;
    }

    .more-link {
      padding-right: 0;
      margin-top: 12px;
    }
  }

  .sidebar__blog {

    .sidebar-blog__link:not(:last-child) {
      margin-bottom: 10px;
      width: 100%;
      display: inline-block;
    }

    .sidebar-blog__contents {
      background-color: #fff;
      flex-direction: column;
      display: flex;
      max-width: 648px;
      margin: 0 auto;
      border: 1px solid #d2d2d2;
      padding: 5px 10px;
      color: #000;
    }

    .sidebar-blog__meta {
      display: flex;
      align-items: center;

      .sidebar-blog__tag {
        width: 150px;
        margin-left: 16px;
        font-size: 13px;
        border: 1px solid #d2d2d2;
        padding: 0px 20px;
        text-align: center;
        display: inline-block;
        margin: 3px 10px;
      }
    }

    .sidebar-blog__ttl {
      font-size: 16px;
    }

    .more-link {
      padding-right: 0;
      margin-top: 12px;
    }
  }
}

@media (max-width: 1199px) {
  .sidebar {
    width: 291px;
    .concept {
      li {
        font-size: 16px;
      }
    }

    .skill-blog__meta {
      flex-direction: column;
    }

    .skill-blog__ttl {
      text-align: center;
    }

    .sidebar-blog__meta {
      flex-direction: column;
    }

    .sidebar-blog__ttl {
      text-align: center;
    }
  }
}

@media (max-width: 991px) {
  .sidebar {
    width: 48%;
    .concept {
      li {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    .sidebar__skill-blog {
      display: none;
    }

    .sidebar__study-blog {
      display: none;
    }

    .sidebar__blog {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .sidebar .concept li {
    font-size: 16px;
  }
}
