.single .author .wp-block-image.w-50 {
  text-align: center;
}

.single p.mb-4 {
  margin-bottom: 15px;
}

.single iframe.map {
  margin-left: 20px;
}

.single .main-contents h3 {
  border-left: 6px solid #000;
}

@media (max-width: 1023px) {
  .single iframe.map.pc {
    display: none;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .single iframe.map.pc {
    display: none;
  }
}

@media (min-width: 1024px) {
  .single iframe.map.tb {
    display: none;
  }
}

@media (max-width: 767px) {
  .single iframe.map.tb {
    display: none;
  }

  .single iframe.map.sp {
    display: block;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .single iframe.map.sp {
    display: none;
  }
  .single .author .wp-block-image.w-50 {
    width: 50%;
    margin: 0 auto;
  }
}