.single .author .wp-block-image.sp-img {
  text-align: center;
}

.single .author .wp-block-image.w-50 {
  text-align: center;
}

@media (min-width: 768px) {
  .single .author .wp-block-image.w-50 {
    width: 50%;
    margin: 0 auto;
  }
}