.introduce.page {
  .author hr {
    width: 20%;
  }

  h2.message__ttl {
    text-align: left;
    font-size: 19px;
    line-height: 1.5;
    background-color: initial;
  }

  p {
    padding-left: 35px;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .message {
    padding-left: 20px;
    padding-right: 20px;
  }

  h2.address__ttl {
    font-size: 19px;
    background-color: initial;
    padding-left: 35px;
  }

  @media (max-width: 767px) {
    p {
      padding-left: 0;
      padding-right: 0;
    }

  .message {
    padding-left: 15px;
    padding-right: 15px;
  }
  }
}
