.introduce.page {
  .author hr {
    width: 20%;
  }

  h2.message__ttl {
    text-align: left;
    font-size: 19px;
    line-height: 1.5;
    background-color: initial;
  }

  p {
    padding-left: 35px;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .message {
    padding-left: 20px;
    padding-right: 20px;
  }

  .address {
    padding: 0 55px;
    text-align: center;

    h2.address__ttl {
      font-size: 30px;
      background-color: initial;
      padding-left: 0;
      margin-bottom: 24px;
      text-align: center;
    }

    h3 {
      border-left: none;
      padding-left: 0;
      margin-left: 0;
      margin-bottom: 4px;
      margin-top: 30px;
      color: #000;

      &.g-map {
        margin-top: 14px;
      }
    }

    p {
      padding-left: 0;
      margin-top: 0;
    }
  }

  @media (max-width: 767px) {
    p {
      padding-left: 0;
      padding-right: 0;
    }

  .message {
    padding-left: 15px;
    padding-right: 15px;
  }
  }
}
