$gray: #f7f7f7;

.page {
  .random-blog {
    &__sec-ttl {
      background: none;
    }

    &__tag-section {
      background-color: $gray;

      .tag {
        &__wrap {
          display: flex;

          .tag {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    &__latest {
      .top-new-blog {
        flex-wrap: wrap;

        .new-blog__post {
          padding: 0;
          width: 20%;
          margin: 0;

          img {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
