.service-apply.page {
  h1 br {
    display: none;
  }

  h2 {
    border-left: 6px solid #333;
  }

  .text-danger {
    color: red;
    font-weight: 500;
  }

  .submit-btn {
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  .wpcf7-text {
    padding: 7px;
  }

  .wpcf7-textarea {
    width: 100%;
    padding: 7px;
  }

  .wpcf7-submit {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    padding: 11px 50px;
    font-size: 17px;

    &:hover {
      cursor: pointer;
      background-color: #000;
      border: 1px solid #fff;
      color: #fff;
      transition: all .3s;
      font-weight: bold;
    }
  }

  .wpcf7-response-output {
    text-align: center;
    margin: 2em 20px 1em;
  }
}

@media (max-width: 767px) {
  .service-apply.page {
    h2 {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media (max-width: 575px) {
  .service-apply.page {
    h1 {
      line-height: 1.5;

      br {
        display: block;
      }
    }

    h2 {
      font-size: 18px;
    }

    .submit-btn {
      width: 100%;
    }
  }
}