.page h2.web-update__sec-ttl {
  border-left: 6px solid #333;
}

.page h3.web-update__list-ttl {
  margin-bottom: 23px;
}

.page h2.new-site-coding__sec-ttl {
  border-left: 6px solid #333;
}

.page h3.new-site-coding__list-ttl {
  margin-bottom: 23px;
}