@import "mixin";

.all-article {
    &__post-wrap {
        box-shadow: 1px 1px 6px 0px #ddd;
        padding: 16px 20px;
        margin-bottom: 35px;
    }
    &__link {
        display: block;
        &:hover {
            transform: translateY(-3px);
            transition: all 0.3;
          }
        color: $text;
    }
    &__date {
        margin-bottom: 0;
    }
    &__ttl {
        font-size: 16px;
    }
    &__desc {
        p {
            font-size: 16px;
            margin-top: 10px;
        }
    }
}