@import "mixin";

.all-article {
  &__post-wrap {
    height: 100%;
    margin-top: 10px;
    &.--mb20 {
      margin-bottom: 20px;
    }

    .front-sec__flex-item-thumb {
      object-fit: cover;
      width: 40%;
      height: 120px;
      @include mq(md) {
        height: 230px;
        width: auto;
        object-fit: contain;
        padding-top: 5px;
      }
      &.--pc {
        display: none;
        @include mq(md) {
          display: block;
        }
      }
      &.--sp {
        @include mq(md) {
          display: none;
        }
      }
    }
  }
  &__link {
    display: block;
    color: $text;
  }
  &__date {
    margin-bottom: 0;
  }
  &__ttl {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    @include mq(md) {
      line-height: 40px;
    }
  }
}

.all-article__link {
  margin-bottom: 20px;
}
