@import "mixin";

.all-article {
  &__post-wrap {
    height: 100%;
    padding: 21px 0;
    &.--mb20 {
      margin-bottom: 20px;
    }

    .front-sec__flex-item-thumb {
      object-fit: cover;
      width: 100%;
      height: 184px;
      margin: 5px 0 15px;
      @include mq(md) {
        height: 130px;
        width: auto;
        object-fit: contain;
        padding-top: 5px;
        margin: 0;
      }
      &.--pc {
        display: none;
        @include mq(md) {
          display: block;
        }
      }
      &.--sp {
        @include mq(md) {
          display: none;
        }
      }
    }
  }
  &__link {
    display: block;
    color: $text;
  }
  &__date {
    margin-bottom: 0;
  }
  &__ttl {
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 10px;
    @include mq(md) {
      line-height: 40px;
    }
  }
}

.all-article__link {
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .all-article__link {
    margin-bottom: 9px;
    padding-bottom: 11px;
  }
}

