$black: #000;
$font: #333;
$gray: #d2d2d2;
$white: #fff;
$skill: #0a2c54;
$study: #59a076;
$random: #88466e;
$record: #D9AA52;
$retrospect-and-goals: #5A8EA1;
$exercise: #490A54;

$text: #313131db;

$line-color:#ddd;

$black-bg: rgba(0, 0, 0, .1);
$gray-bg: #efefef;
$skill-bg: rgba(10, 44, 84, .1);
$study-bg: rgba(89, 160, 118, .1);
$random-bg: rgba(136, 70, 110, .1);
$what-i-did-bg: rgba(120, 120, 120, .1);
$record-bg: rgba(217, 170, 82, .1);
$retrospect-and-goals-bg: rgba(90, 142, 161, .1);
$exercise-bg: rgba(73, 10, 84, .1);

$random-table: rgba(64, 38, 54, 0.6);
$study-table: rgba(89, 160, 118, 0.6);
$skill-table: rgba(10, 44, 84, 0.6);
$record-table: rgba(217, 170, 82, 0.6);
