$black: #000;
$black-bg-color: rgba(0, 0, 0, .1);
$gray: #d2d2d2;
$white: #fff;
$skill-color: #0a2c54;
$study-color: #59a076;
$random-color: #88466e;
$whatidid-bg-color: rgba(0, 0, 0, .05);
$skill-bg-color: rgba(10, 44, 84, .1);
$study-bg-color: rgba(89, 160, 118, .1);
$random-bg-color: rgba(136, 70, 110, .1);
$gray-bg: #f7f7f7;
$line-color-gray:#ddd;
$font-color: #333;