$black: #000;
$black-bg-color: rgba(0, 0, 0, 0.1);
$gray: #d2d2d2;
$white: #fff;
$skill-color: #0a2c54;
$study-color: #59a076;
$random-color: #88466e;
$diary-color: #5a8ea1;
$whatidid-bg-color: rgba(0, 0, 0, 0.05);
$skill-bg-color: rgba(10, 44, 84, 0.1);
$study-bg-color: rgba(89, 160, 118, 0.1);
$random-bg-color: rgba(136, 70, 110, 0.1);
$random-table-color: rgba(64, 38, 54, 0.6);
$diary-bg-color: rgba(90, 142, 161, 0.1);
$gray-bg: #f7f7f7;
$line-color-gray: #ddd;
$font-color: #333;
$drink-comparison-color: #d9aa52;
$drink-comparison-bg-color: rgba(217, 170, 82, 0.1);
