$black: #000;
$black-bg-color: rgba(0, 0, 0, .1);
$gray: #d2d2d2;
$white: #fff;

$skill-color: #0a2c54;
$study-color: #59a076;
$random-color: #88466e;
$drink-comparison-color: #D9AA52;
$diary-color: #5A8EA1;
$exercise-color: #490A54;

$skill-bg-color: rgba(10, 44, 84, .1);
$study-bg-color: rgba(89, 160, 118, .1);
$random-bg-color: rgba(136, 70, 110, .1);
$what-i-did-bg-color: rgba(120, 120, 120, .1);
$whatidid-bg-color: rgba(0, 0, 0, .05);
$drink-comparison-bg-color: rgba(217, 170, 82, .1);
$diary-bg-color: rgba(90, 142, 161, .1);
$exercise-bg-color: rgba(73, 10, 84, .1);

$gray-bg: #f7f7f7;
$line-color-gray:#ddd;
$font-color: #333;
$random-table-color: rgba(64, 38, 54, 0.6);
$study-table-color: rgba(89, 160, 118, 0.6);
