* {
  box-sizing: border-box;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  word-break: break-all;
}

body {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

p,
li {
  font-size: 17px;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Noto, Hiragino Sans, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  line-height: 2;
}

h1,
h2 {
  font-size: 25px;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
