* {
  box-sizing: border-box;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

html {
  margin-top: 0 !important;
  background-color: #f7f7f7;
}