@import "mixin";
.front-container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
  @include mq(xl) {
      padding: 0;
      display: flex;
      .pc-left-container {
        width: 70%;
        padding-right: 66px;
      }
      .pc-right-container {
        width: 30%;
      }
  }
}

.front-sec {
  margin-bottom: 52px;
  &__my-prof-img {
    width: 350px;
    max-width: 100%;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    @include mq(lg) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__flex-item {
    .all-article__ttl {
      margin-top: 10px;
      @include mq(md) {
        padding-right: 18px;
      }
    }
  }
  &__ttl {
    font-size: 20px;
    color: $text;
    font-weight: normal;
    &.rand {
      margin-top: 45px;
    }
  }
  &__text {
    p {
      @extend .front-sec__ttl;
      font-size: 15px;
      @include mq(lg) {
          font-size: 16px;
      }
    }
  }
  &__article-ttl {
    @include text;
  }
  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 5px;
    .front-sec__item {
      width: 100%;
      &.--second {
        margin-left: 10px;
      }
      &.--third {
        margin-left: 20px;
      }
    }
  }
  &__item {
    list-style: none;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;
  }
  &__link-ttl {
    margin-bottom: 0;
  }
  &.--twitter {
    @include mq(lg) {
      margin-right: 60px;
    }
  }
}

.all-article .front-sec {
    margin-bottom: 28px;
}

.sns-wrap {
  @include mq(lg) {
    display: flex;
  }
}

.front-sec__more {
  font-size: 15px;
  margin-top: 19px;
  display: inline-table;
}

.pc-left-container {
  h2.front-sec__ttl {
    margin-bottom: 0;
  }
}