@import "mixin";
.front-container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
  @include mq(xl) {
      padding: 0;
  }
}

.front-sec {
  margin-bottom: 52px;
  &__my-prof-img {
    width: 350px;
    max-width: 100%;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    @include mq(lg) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__flex-item {
    @include mq(xl) {
      width: 365px;
    }
    &.--center {
      @include mq(sm) {
        margin: 20px 0;
      }
      &.--page {
        margin: 0 0 20px 0;
      }
      @include mq(xl) {
        margin: 0 20px;
        &.--page {
          margin: 0 20px;
        }
      }
    }

    .all-article__ttl {
      margin-top: 10px;
    }
  }
  &__ttl {
    font-size: 20px;
    color: $text;
    font-family: Helvetica Neue;
    font-weight: normal;
  }
  &__text {
    p {
      @extend .front-sec__ttl;
      font-size: 15px;
      @include mq(lg) {
          font-size: 16px;
      }
    }
  }
  &__article-ttl {
    @include text;
  }
  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 5px;
  }
  &__item {
    list-style: none;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;
  }
  &__link-ttl {
    margin-bottom: 0;
  }
}

.all-article .front-sec {
    margin-bottom: 28px;
}