.all-article {
  &__tag-date {
    display: flex;
    align-items: center;
  }
  &__tag {
    line-height: 1.5;
  }
  &__date {
    line-height: 1.5;
  }
  &__main {
    display: flex;
  }
  &__desc {
    display: flex;
    flex-direction: column-reverse;
    @include mq(md) {
      flex-direction: row;
    }
    p {
      width: 100%;
      padding-right: 0;
      min-height: initial;
      margin: 0;
      overflow-wrap: anywhere;
      font-family: Helvetica Neue;
      line-height: 1.8;
      @include mq(md) {
        width: auto;
        min-height: 135px;
        padding-right: 18px;
        line-height: 28.8px;
      }
    }
  }
  &__desc-pc {
    display: none;
    @include mq(md) {
      display: block;
      font-size: 16px;
    }
  }
  &__desc-sp {
    line-height: 1.5;
    font-size: 15px;
    @include mq(md) {
      display: none;
    }
  }
  &__tag-icon {
    height: 35px;
    display: none;
  }
}
