.all-article {
  &__tag-date {
    display: flex;
    align-items: center;
  }
  &__tag {
    line-height: 1.5;
  }
  &__date {
    line-height: 1.5;
  }
  &__main {
    display: flex;
  }
  &__desc {
    display: flex;
    p {
      margin-top: 0;
      width: 60%;
      padding-right: 18px;
      min-height: 135px;
      overflow-wrap: anywhere;
      font-family: Helvetica Neue;
      @include mq(md) {
        width: auto;
      }
    }
  }
  &__desc-pc {
    display: none;
    @include mq(md) {
      display: block;
      font-size: 16px;
    }
  }
  &__desc-sp {
    line-height: 1.5;
    font-size: 15px;
    @include mq(md) {
      display: none;
    }
  }
  &__tag-icon {
    height: 35px;
  }
}
