@import "breakpoint";
@import "color";
@import "mixin";

.blog-list-grid {
  display: grid;
  display: -ms-grid;
  gap: 15px;
  padding-left: 0;
  grid-template-columns: 1fr;
  margin-top: 15px;
  @include mq(md) {
    margin-top: 0;
  }
  &__contents {
    width: 100%;
    padding: 19px;
    margin: 0 auto;
    border: 1px solid $gray;
    background-color: $white;
    color: $black;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  &__thumb-nail-wrap {
    margin-bottom: 15px;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  &__meta {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__date {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  &__tag-wrap {
    @include mq(md) {
      width: 100%;
    }
  }
  &__tag {
    border: 1px solid #d2d2d2;
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    margin: 3px 0;
    font-size: 13px;
    color: $black;
    @include mq(md) {
      font-size: 14px;
    }
    &:hover {
      opacity: .5;
      transition: all .3;
    }
  }
  &__ttl {
    @include mq(md) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  &__what-you-know-ttl {
    margin-bottom: 0;
    border-left: 6px solid;
    color: #000;
    margin: 20px 0 20px;
    text-align: left;
    border-color: #59a076;
    background: rgba(89, 160, 118, 0.1);
    padding: 14px;
    line-height: 35px;
    font-size: 19px;
    @include mq(sm) {
      padding: 15px;
      line-height: 40px;
      font-size: 25px;
    }
    &.--what-i-did {
      border-color: $black;
    }
    &.--skill-blog {
      border-color: $skill-color;
      background: $skill-bg-color;
    }
    &.--study-blog {
      border-color: $study-color;
      background: $study-bg-color;
    }
    &.--random-blog {
      border-color: $random-color;
      background: $random-bg-color;
    }
    &.--drink-comparison {
      border-color: $drink-comparison-color;
      color: $drink-comparison-color;
    }
    &.--diary {
      border-color: $diary-color;
      background: $diary-bg-color;
    }
    &.--exercise-record {
      border-color: $exercise-color;
      background: $exercise-bg-color;
    }
  }
  &__what-you-know-ul {
    list-style: disc;
  }
  &__what-you-know-li {
    font-size: 16px;
  }
  &__what-you-know-ttl-wrap {
    width: 100%;
    margin-bottom: 10px;
    display: none;
  }
  &__link-btn {
    border: 1px solid #d2d2d2;
    color: $black;
    text-align: center;
    display: block;
    padding: 10px 0;
    margin: 17px auto 0;
    width: 258px;
    font-size: 16px;
    @include link-hover;
  }
  &__thumb-link {
    @include link-hover;
    display: block;
  }
}