@import "color";
@import "breakpoint";
@import "mixin";

body.fixed {
  position: fixed;
}

.header {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  &__sp-none {
    display: none;
    @include mq(sm) {
      display: inline;
    }
  }
  &__container {
    margin: 0 auto;
    padding: 20px 15px 0;
    width: 100%;
    max-width: 1140px;
    @include mq(xl) {
      width: 1170px;
      max-width: none;
    }
  }
  &__contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto 0;
    text-align: center;
    padding: 0 15px;
    @include mq(md) {
      padding: 0;
    }
    @include mq(lg) {
      align-items: baseline;
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 2rem;
    }
  }
  &__logo {
    line-height: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__sitename-text {
    line-height: 1.6;
  }
  &__ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
    z-index: -1;
    @include mq(lg) {
      display: flex;
      opacity: 1;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      position: initial;
    }
    &.active {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      opacity: 1;
      background-color: $white;
      z-index: 1;
      .header__has-child-img {
        display: none;
      }
    }
  }
  &__li-link {
    color: $black;
    display: block;
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;
    font-size: 16px;
    &.--current {
      font-weight: bold;
    }
    &.--skill-blog {
      color: $skill-color;
    }
    &.--study-blog {
      color: $study-color;
    }
    &.--random-blog {
      color: $random-color;
    }
    &:hover {
      opacity: 0.5;
      transition: all 0.3;
    }
  }
  &__has-child-li-link {
    color: $black;
    &:hover {
      color: $white;
    }
    &.--skill:hover {
      background: $skill-color;
    }
    &.--study:hover {
      background: $study-color;
    }
    &.--random:hover {
      background: $random-color;
    }
  }
  &__open-btn {
    position: fixed;
    top: 25px;
    right: 6px;
    transform: none;
    @include mq(xl) {
      display: none;
    }
  }
  &__open-btn-line {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #313131db;
    width: 45%;
    &:nth-child(1) {
      top: 15px;
    }
    &:nth-child(2) {
      top: 23px;
    }
    &:nth-child(3) {
      top: 31px;
    }
    &.active {
      &:nth-child(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
      }
    }
  }
  &__nav-sp {
    position: fixed;
    z-index: 999;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    transition: all 0.6s;
    @include mq(xl) {
      display: none;
    }
    &.active {
      top: 0;
    }
  }
  &__sp-site-ttl {
    padding-top: 35px;
  }
  &__sub-sitename {
    font-size: 10px;
    display: inline-block;
    line-height: 1.6;
  }
  &__sitename-link {
    font-size: 40px;
    color: #313131db;
    font-family: Helvetica Neue;
    letter-spacing: 0.1px;
    font-weight: 500;
    &:hover {
      opacity: 0.5;
      transition: all 0.3;
    }
  }
  &__twitter {
    width: 30px;
    display: block;
    margin-left: 15px;
  }
  &__child-ul {
    list-style: none;
    transition: all 0.3s;
    width: calc(100% + 57px);
    box-sizing: content-box;
    z-index: 1;
    padding: 0 0 25px 0;
    @include mq(lg) {
      padding: 10px 0;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      background-color: $gray-bg-color; 
    }
  }
  &__li {
    font-size: 16px;
    &.--has-child {
      margin-right: 35px;
      text-align: right;
      position: relative;
      &:hover {
        > .header__child-ul {
          visibility: visible;
          opacity: 1;
        }
        .header__has-child-img {
          transform: rotate(-180deg);
          transition: all 0.3s;
        }
      }
    }
  }
  &__has-child-li {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
    @include mq(lg) {
      padding-bottom: 10px;
      justify-content: flex-end;
      font-weight: 300;
      font-size: 16px;
    }
  }
  &__child-li {
    text-align: left;
    padding: 0 0 5px 7px;
    @include mq(lg) {
      padding: 0 0 5px 34px;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__sp-child-line {
    @include mq(lg) {
      display: none;
    }
  }
  &__child-li-link {
    font-size: 16px;
    color: $black;
    @include link-hover;
  }
  &__has-child-img {
    width: 27px;
    margin-right: 5px;
  }
  &__hamburger {
    position: fixed;
    top: 14px;
    right: 14px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
    @include mq(lg) {
      display: none;
    }
    span {
      display: inline-block;
      transition: all 0.4s;
      position: absolute;
      left: 13px;
      height: 2px;
      background-color: $black;
      &:nth-of-type(1) {
        top: 22px;
        width: 50%;
      }
      &:nth-of-type(2) {
        top: 29px;
        width: 30%;
      }
    }
    &.active {
      span {
        &:nth-of-type(1) {
          top: 20px;
          left: 16px;
          transform: translateY(6px) rotate(-45deg);
          width: 35%;
        }
        &:nth-of-type(2) {
          top: 32px;
          left: 16px;
          transform: translateY(-6px) rotate(45deg);
          width: 35%;
        }
      }
    }
  }
}
