header {
  position: relative;
}

.header-top {
  display: flex;
}

.sitename {
  line-height: 1.6;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  margin: 2rem auto;
  text-align: center;
}

header .blogname {
  padding: 0;
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

header h1.title {
  margin-top: -2px;
  margin-bottom: 0;
  line-height: 30px;
}

span.sitename.main {
  color: #313131db;
  font-size: 30px;
  font-family: Helvetica Neue;
  letter-spacing: 0.1px;
  font-weight: 500;
}

@media (max-width: 575px) {
  span.sitename.main {
    font-size: 28px;
  } 
}

span.sitename.sub {
  display: inline-block;
  font-size: 12px;
}

.nav-menu {
  margin-left: auto;
}

.nav-menu__ul {
  list-style: none;
  margin-bottom: 0;
}

header .header-nav nav ul li a:hover {
  text-decoration: none;
  color: #313131db;
}

.header-nav nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.header-nav nav ul ul {
  display: block;
}

.header-nav nav ul li {
  position: relative;
  margin-bottom: 0;
}

.header-nav nav ul li a {
  display: block;
  text-decoration: none;
  padding: 20px 63px;
  transition: all 0.3s;
  color: #000;
}

.header-nav nav ul li li a {
  padding: 10px 26px;
}

.header-nav nav ul li a:hover {
  color: #fff;
}

.header-nav nav ul li.has-child::before {
  content: "";
  position: absolute;
  left: 38px;
  top: 41%;
  width: 6px;
  height: 6px;
  border-top: 2px solid #878787;
  border-right: 2px solid #878787;
  transform: rotate(135deg);
}

.header-nav nav li.has-child ul {
  position: absolute;
  left: 35px;
  top: 71px;
  z-index: 4;
  background: #202020;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.header-nav nav li.has-child:hover > ul {
  visibility: visible;
  opacity: 1;
}

.header-nav nav li.has-child ul li a {
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.6);
  font-size: 14px;
  text-align: left;
}

.header-nav nav li.has-child ul li:last-child a {
  border-bottom: none;
}

.header-nav nav li.has-child ul li a:hover,
.header-nav nav li.has-child ul li a:active {
  background: #000;
}

.sp-nav {
  position: fixed;
  z-index: 999;
  top: -120%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: all 0.6s;
}

.sp-nav ul {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sp-nav li {
  list-style: none;
  text-align: center;
}

.sp-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.openbtn1 {
  position: fixed;
  z-index: 9999;
  top: 27px;
  right: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.openbtn1 span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #313131db;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top: 15px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
}

.openbtn1 span:nth-of-type(3) {
  top: 31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.btn-block {
  width: 200px;
  padding: 30px;
}

.sp-nav.panelactive {
  top: 0;
}

.sp-nav.panelactive .sp-nav-list {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.sp-nav li {
  list-style: none;
  text-align: center;
}

.sp-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.openbtn2 {
  position: fixed;
  z-index: 9999;
  top: 10px;
  right: 10px;
}

.openbtn2 span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn2 span:nth-of-type(1) {
  top: 15px;
}

.openbtn2 span:nth-of-type(2) {
  top: 23px;
}

.openbtn2 span:nth-of-type(3) {
  top: 31px;
}

.openbtn2.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn2.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn2.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

// max-width
@media (max-width: 1199px) {
  header {
    padding-bottom: 10px;
  }

  .pc-nav {
    display: none;
  }

  .header-nav {
    position: relative;
  }

  .header-nav nav ul {
    flex-direction: column;
  }

  .header-nav nav ul li a {
    padding: 20px 38px;
  }

  .openbtn1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .header-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .openbtn1 {
    position: fixed;
    top: 33px;
    right: 6px;
    transform: none;
  }
}

@media (max-width: 999px) {
  .header-nav {
    max-width: 720px;
    flex-direction: column;
  }

  header .blogname {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header-nav nav {
    padding: 0;
  }

  .header-nav nav ul li.has-child::before {
    left: 20px;
  }

  nav ul ul li.has-child::before {
    transform: rotate(135deg);
    left: 20px;
  }

  .header-nav nav ul li.has-child.active::before {
    transform: rotate(-45deg);
  }
}

@media (max-width: 767px) {
  .header-nav {
    padding: 0 15px;
    justify-content: center;
    margin-bottom: 0;

    nav.sp-nav ul {
      flex-wrap: wrap;
    }
  }

  span.sitename.sub {
    font-size: 10px;
  }

  .home span.sitename.sub {
    margin-top: 3px;
  }

  .nav-menu__ul {
    padding: 0;
    margin: 0;
  }

  .nav-menu__ul li {
    font-size: 14px;
  }

  header .nav-menu__ul {
    margin-top: 2px;
  }

  .page header .nav-menu__ul {
    margin-top: 2px;
  }
}

@media (max-width: 576px) {
  .header-nav nav ul li {
    a.sp-nav__service {
      padding-left: 38px;
    }

    a.sp-nav__contact {
      padding-right: 38px;
    }
  }
}

@media (max-width: 575px) {
  header .blogname {
    line-height: 1.8;
  }

  .page header .blogname {
    margin-top: -3px;
  }

  .single header .blogname {
    margin-top: -3px;
  }

  .single .nav-menu {
    margin-top: 2px;
  }
}

@media (max-width: 450px) {
  .header-nav nav ul li {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .nav-menu__ul li a {
    font-size: 10px;
  }
}


// min-width
@media (min-width: 576px) {
  .header-nav {
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .header-nav {
    margin: 40px auto 20px;
    max-width: 100%;
  }

  .nav-menu__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 0;
  }

  .openbtn1 {
    top: 40px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1024px) {
  .header-nav {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .header-nav {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .header-nav {
    margin: 10px auto 1rem;
  }

  .sp-nav {
    display: none;
  }

  header .blogname {
    margin: 10px 0;
  }

  .openbtn1 {
    display: none;
  }
}

@media (min-width: 721px) and (max-width: 767px) {
  .header-nav {
    max-width: 100%;
  }
}
