/* ----------------------------------------------------------------------
	トップページ
---------------------------------------------------------------------- */
.home .author {
  background-color: #f7f7f7;
  margin-top: 20px;
}

.author img {
  width: 130px;
  margin: 0 auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.author h4 {
  text-align: center;
  font-family: "Avenir-Next";
  font-weight: 600;
  margin-top: 35px;
  font-size: 20px;
}

.author p {
  color: #7B7B7B;
  font-size: 12px;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}

.home .author p {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.consultation-bnr__wrap {
  display: block;
  margin: 40px auto 0;
  position: relative;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #000;
    font-size: 38px;
    font-weight: bold;
  }

  img {
    width: 100%;
  }

  &:hover {
    opacity: .6;
    transform: all .3s;
  }
}

.skill-blog__sec-ttl {
  text-align: center;
}

.skill-blog__contents {
  max-width: 648px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  padding: 5px 10px;
  color: #000;
}

.skill-blog__link:hover {
  text-decoration: none;
}

.skill-blog__tag {
  width: 24%;
  border: 1px solid #d2d2d2;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
  margin: 3px 10px;
}

.random-blog__sec-ttl {
  text-align: center;
}

.random-blog__contents {
  max-width: 648px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  padding: 5px 10px;
  color: #000;
}

.random-blog__link:hover {
  text-decoration: none;
}

.random-blog__tag {
  width: 24%;
  border: 1px solid #d2d2d2;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
  margin: 3px 10px;
}

.random-blog__link:not(:last-child) {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

.study-blog__sec-ttl {
  text-align: center;
}

.study-blog__contents {
  max-width: 648px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  padding: 5px 10px;
  color: #000;
}

.study-blog__link:hover {
  text-decoration: none;
}

.study-blog__tag {
  width: 24%;
  border: 1px solid #d2d2d2;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
  margin: 3px 10px;
}

.study-blog__link:not(:last-child) {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

  .author-text {
    text-align: center;
  }

  .top-contents {
    display: flex;
    justify-content: center;
  }

  a.top-contents__card {
    color: #333;
    margin-right: 10px;

    &.--blog {
      margin-right: 0;
    }
  }

 .card {
   width: 100%;
   height: auto;
   border-radius: 8px;
   overflow: hidden;
   border: 1px solid #d2d2d2;

   &:hover {
    transform: translateY(-3px);
    transition: all .3s;
   }
 }
 .card__imgframe {
   width: 100%;
   height: auto;
   padding-top: 56.25%;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   box-sizing: border-box;

   &.service {
      background-image: url(assets/img/top/service.png);
      background-size: cover;
      background-position-y: 75%;
   }

   &.introduce {
     background-image: url(assets/img/top/introduce.png);
     background-size: cover;
   }

   &.blog {
     background-image: url(assets/img/top/blog.png);
   }
 }

 .card__textbox {
   width: 100%;
   height: 164px;
   padding: 20px 18px 6px;
   background: #fff;
   box-sizing: border-box;
 }

 .card__textbox>*+* {
   margin-top: 10px;
 }

 .card__titletext {
   font-size: 20px;
   font-weight: bold;
   line-height: 125%;
 }

 .card__overviewtext {
   font-size: 12px;
   line-height: 150%;

   p {
     font-size: 15px;
   }

   ul {
     line-height: 1.8;
     margin-top: 0;
   }
 }

.top-new-blog {
  margin-top: 8px;
  display: flex;

  .new-blog__post {
    background-color: #f7f7f7;
    padding: 16px 29px 3px;
    position: relative;
    display: block;

    .post__date {
      font-size: 13px;
    }

    &:nth-child(2) {
      margin: 0 28px;
    }

    h3 {
      margin-top: 24px;
    }

    p {
      margin-top: 0;
      color: #333;
    }

    .post__category {
      position: absolute;
      right: 0;
      top: 0;
      background-color: #888888;
      color: #fff;
      padding: 12px 35px;
      font-size: 12px;
    }

    img {
      margin: 35px auto;
      display: block;
      width: 300px;
      height: 200px;
      object-fit: contain;
    }
  }
}

.main-column {
  width: 88%;
  margin-right: 18px;

  .new-blog__post {
    background-color: #f7f7f7;
    padding: 16px 29px 3px;
    position: relative;
    display: block;
    margin-top: 20px;

    .post__date {
      font-size: 13px;
    }

    h3 {
      margin-top: 24px;
    }

    p {
      margin-top: 0;
      color: #333;
    }

    .post__category {
      position: absolute;
      right: 0;
      top: 0;
      background-color: #888888;
      color: #fff;
      padding: 12px 35px;
      font-size: 12px;
    }

    img {
      margin: 35px auto;
      display: block;
      width: 300px;
      height: 200px;
      object-fit: contain;
    }
  }
}

@media (min-width: 768px) {
  .top-schedule {
    display: none;
  }

  .skill-blog {
    padding-left: 20px;
    padding-right: 20px;
  }

  .study-blog {
    padding-left: 20px;
    padding-right: 20px;
  }

  .random-blog {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1000px) and (max-width: 1023px) {
  .card__img {
    height: 160px;
  }
}

@media (max-width: 1023px) {
  .top-new-blog {
    padding: 0 22px;
  }
  .main-colum {
    padding: 0 22px;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  .card__img {
    height: 130px;
  }

  .card__text {
    height: calc(100% - 130px);
  }

  .consultation-bnr__wrap {
    padding: 0 20px;
  }
}

@media (max-width: 999px) {
  .top-contents {
    flex-wrap: wrap;

    &__card.--blog {
      margin-top: 15px;
    }
  }
}

@media (max-width: 767px) {
  .home .author p {
    padding: 0;
    text-align: left;
  }

  .author__contents ul {
    padding-left: 20px;
  }

  .top-schedule p:nth-of-type(1) {
    margin-top: 20px;
  }

  .top-contents {
    padding-bottom: 52px;
    flex-direction: column;
    align-items: center;

    &__card {
      margin-right: 0;
      margin-bottom: 20px;

      &.--blog {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  a.top-contents__card {
    margin-right: 0;
    width: 100%;
  }

  .skill-blog__sec-ttl {
    margin-top: 50px;
  }

  .skill-blog__tag {
    display: none;
  }

  .skill-blog__ttl {
    margin-left: 10px;
  }

  .random-blog__sec-ttl {
    margin-top: 50px;
  }

  .random-blog__tag {
    display: none;
  }

  .random-blog__ttl {
    margin-left: 10px;
  }

  .study-blog__sec-ttl {
    margin-top: 50px;
  }

  .study-blog__tag {
    display: none;
  }

  .study-blog__ttl {
    margin-left: 10px;
  }

  .card__img {
    height: 250px;
    width: 100%;
  }

  .card__text {
    height: calc(100% - 250px);
  }

  .top-new-blog {
    padding: 0;
    margin-bottom: 40px;
  }

  .main-colum {
    padding: 0;
    margin-bottom: 40px;
  }

  .consultation-bnr__wrap {
    margin: 0 auto 40px;
  }
}

@media (min-width: 577px) {
  .consultation-bnr.--sp {
    display: none;
  }
}

@media (min-width: 768px) {
  .card {
    width: 250px;
  }
}

@media (min-width: 1000px) {
  .home .author {
    margin-bottom: 0;
  }

  .consultation-bnr__wrap {
    width: 763px;
  }
}

@media (max-width: 576px) {
  .consultation-bnr__wrap {
    p {
      font-size: 29px;
      width: 100%;
      text-align: center;
    }

    img {
      width: 100%;
      margin: 0 auto;
      border-radius: 8px;
      border: 1px solid #d2d2d2;
    }
  }

  .consultation-bnr {
    display: none;

    &.--sp {
      display: block;
    }
  }

  .top-new-blog {
    margin-top: 108px;

    .new-blog__post {
      padding: 26px 21px 26px;
      margin-bottom: 118px;
    }

    .post__date {
      text-align: center;
      margin-bottom: 11px;
      font-size: 13px;
    }

    h3 {
      text-align: center;
      margin-top: 0;
    }

    .new-blog__post .post__category {
      width: 100%;
      text-align: center;
      font-size: 18px;
      top: -71px;
    }

    .new-blog__post img {
      width: 100%;
      height: auto;
    }
  }

  .main-colum {
    margin-top: 108px;

    .new-blog__post {
      padding: 26px 21px 26px;
      margin-bottom: 118px;
    }

    .post__date {
      text-align: center;
      margin-bottom: 11px;
      font-size: 13px;
    }

    h3 {
      text-align: center;
      margin-top: 0;
    }

    .new-blog__post .post__category {
      width: 100%;
      text-align: center;
      font-size: 18px;
      top: -71px;
    }

    .new-blog__post img {
      width: 100%;
      height: auto;
    }
  }
}

@import "index/particle";