/* ----------------------------------------------------------------------
	トップページ
---------------------------------------------------------------------- */
.author img {
  width: 130px;
  margin: 40px auto 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.author h4 {
  text-align: center;
  font-family: "Avenir-Next";
  font-weight: 600;
  margin-top: 35px;
  font-size: 20px;
}

.author hr {
  width: 20%;
}

.author p {
  color: #7B7B7B;
  font-size: 12px;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}

.home .author p {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.skill-blog__sec-ttl {
  text-align: center;
}

.skill-blog__contents {
  max-width: 648px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  padding: 5px 10px;
  color: #000;
}

.skill-blog__link:hover {
  text-decoration: none;
}

.skill-blog__tag {
  width: 24%;
  border: 1px solid #d2d2d2;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
  margin: 3px 10px;
}

.random-blog__sec-ttl {
  text-align: center;
}

.random-blog__contents {
  max-width: 648px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  padding: 5px 10px;
  color: #000;
}

.random-blog__link:hover {
  text-decoration: none;
}

.random-blog__tag {
  width: 24%;
  border: 1px solid #d2d2d2;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
  margin: 3px 10px;
}

.random-blog__link:not(:last-child) {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

.study-blog__sec-ttl {
  text-align: center;
}

.study-blog__contents {
  max-width: 648px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  padding: 5px 10px;
  color: #000;
}

.study-blog__link:hover {
  text-decoration: none;
}

.study-blog__tag {
  width: 24%;
  border: 1px solid #d2d2d2;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
  margin: 3px 10px;
}

.study-blog__link:not(:last-child) {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

  .author-text {
    text-align: center;
  }

  .top-contents {
    display: flex;
    justify-content: center;
  }

  a.top-contents__card {
    color: #333;
  }

 .card {
   width: 288px;
   height: auto;
   border-radius: 8px;
   overflow: hidden;
   border: 1px solid #d2d2d2;

  &:nth-child(1) {
    margin-right: 10px;
  }

  &:nth-child(2) {
    margin-left: 10px;
  }

   &:hover {
    transform: translateY(-3px);
    transition: all .3s;
   }
 }
 .card__imgframe {
   width: 100%;
   height: auto;
   padding-top: 56.25%;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   box-sizing: border-box;

   &.introduce {
     background-image: url(https://ki-hi-ro.com/dev-ki-hi-ro/wp-content/themes/ki-hi-ro.com-2022/assets/img/top/introduce.png);
     background-size: cover;
   }

  &.blog {
    background-image: url(https://ki-hi-ro.com/dev-ki-hi-ro/wp-content/themes/ki-hi-ro.com-2022/assets/img/top/blog.png);
  }
 }

 .card__textbox {
   width: 100%;
   height: 164px;
   padding: 20px 18px 6px;
   background: #fff;
   box-sizing: border-box;
 }

 .card__textbox>*+* {
   margin-top: 10px;
 }

 .card__titletext {
   font-size: 20px;
   font-weight: bold;
   line-height: 125%;
 }

 .card__overviewtext {
   font-size: 12px;
   line-height: 150%;

   ul {
     line-height: 1.8;
     margin-top: 0;
   }
 }

@media (min-width: 768px) {
  .top-schedule {
    display: none;
  }

  .skill-blog {
    padding-left: 20px;
    padding-right: 20px;
  }

  .study-blog {
    padding-left: 20px;
    padding-right: 20px;
  }

  .random-blog {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1000px) and (max-width: 1023px) {
  .top-box {
    width: 845px;
  }

  .card__img {
    height: 160px;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  .top-box {
    width: 720px;
  }

  .card__img {
    height: 130px;
  }

  .card__text {
    height: calc(100% - 130px);
  }
}

@media (min-width: 1024px) {
  .top-box {
    width: 900px;
  }
}

@media (max-width: 767px) {
  .home .author p {
    padding: 0;
    text-align: left;
  }

  .author__contents ul {
    padding-left: 20px;
  }

  .top-schedule p:nth-of-type(1) {
    margin-top: 20px;
  }

  .top-contents {
    padding-bottom: 52px;
    flex-direction: column;
    align-items: center;
  }

  .skill-blog__sec-ttl {
    margin-top: 50px;
  }

  .skill-blog__tag {
    display: none;
  }

  .skill-blog__ttl {
    margin-left: 10px;
  }

  .random-blog__sec-ttl {
    margin-top: 50px;
  }

  .random-blog__tag {
    display: none;
  }

  .random-blog__ttl {
    margin-left: 10px;
  }

  .study-blog__sec-ttl {
    margin-top: 50px;
  }

  .study-blog__tag {
    display: none;
  }

  .study-blog__ttl {
    margin-left: 10px;
  }

  .card {
    &:nth-child(1) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:nth-child(2) {
      margin-left: 0;
    }
  }

  .card__img {
    height: 250px;
    width: 100%;
  }

  .card__text {
    height: calc(100% - 250px);
  }
}