.page article {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  margin-bottom: 30px;
}

.page-mv img {
  border-radius: 9px 9px 0 0;
}

.page .main-contents {
  justify-content: center !important;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.page .nav-menu__ul {
  padding: 0;
  margin: 0;
}

.page h1 {
  color: #000;
  text-align: center;
  margin-top: 56px;
}

.page h2 {
  background: #f7f7f7;
  padding: 15px;
  color: #000;
  border-left: 6px solid #333;
  line-height: 40px;
  margin: 60px 20px 40px;
}

.page h3 {
  border-left: 6px solid #000;
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #333;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0px 15px 0px;
  font-size: 20px;
}

.page p {
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 0 20px 0 20px;
  color: #000;
  font-size: 16px;
  line-height: 30px;
}

.page p a {
  text-decoration: none;
  font-weight: 600;
}

.page article ul {
  margin-top: 10px;
  margin-left: 20px;
}

.page ul li {
  color: #000;
}

.page pre {
  font-size: 17px;
  background-color: #fafafa;
  padding: 40px 25px;
  color: #5a5a5a;
  font-weight: 500;
  line-height: 1.5;
  outline: 1px solid #f0f0f0;
  border-color: #f0f0f0;
  text-align: left;
  margin: 0 20px 40px;
}

.page pre.ml-adjust {
  margin-left: 22px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  word-break: normal;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.page .author .wp-block-image {
  text-align: center;
}

.page iframe.map {
  margin-left: 20px;
}

.slick {
  width: 70%;
  margin: 0 auto;
}

.page footer nav h4 {
  margin-left: 0;
}

.page h2 {
  border: none;
}

.page .top-box.col-xs-12 {
  padding: 0 0 20px;
}

.page-mv {
  margin: 0;
  position: relative;

  h1 {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    margin-top: 0;
  }

  img {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .page iframe.map.pc {
    display: none;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .page iframe.map.pc {
    display: none;
  }
}

@media (min-width: 1024px) {
  .page iframe.map.tb {
    display: none;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  .author.calendar {
    width: 720px;
  }
}

@media (min-width: 768px) {
  .sp-img {
    display: none;
  }

  .page .author .wp-block-image.w-50 {
    width: 50%;
    margin: 0 auto;
  }

  .page iframe.map.sp {
    display: none;
  }
}

@media (min-width: 1024px) {
  .page .author.col-xs-12 {
    width: 900px;
    border-radius: 10px;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  .header-nav {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .page main {
    padding: 0 15px;
  }

  .page h1 {
    margin-top: 0;
  }

  .page h2 {
    margin-left: -15px;
    margin-right: -15px;
    background: none;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .page.service h2 {
    margin-left: 0;
    margin-right: 0;
  }

  .page h3 {
    margin-left: 0;
    margin-right: 0;
  }

  .page h4 {
    margin-left: 0;
    margin-right: 0;
  }

  .page p {
    padding: 0;
  }

  .page article ul {
    margin-left: 0;
  }

  .pc-img {
    display: none;
  }

  .page .author img {
    width: 75%;

    &.img-circle {
      width: 130px;
    }
  }



  .page pre.ml-adjust {
    margin-left: 0;
  }

  .page iframe.map.tb {
    display: none;
  }

  .page iframe.map.sp {
    display: block;
    margin-left: 0;
  }

  .tb-form {
    display: none;
  }

  .page__contents-container {
    padding: 0 15px;
  }
}

@media (max-width: 575px) {
  .page-mv {
    h1 {
      font-size: 22px;
    }
  }
}

@media (max-width: 500px) {
  .page .author img {
    width: 100%;

    &.img-circle {
      width: 130px;
    }
  }
}

@media (min-width: 992px) {
  .tb-form {
    display: none;
  }
}

@media (max-width: 991px) {
  .pc-form {
    display: none;
  }
}

@media (min-width: 768px) {
  .sp-form {
    display: none;
  }
}

@import "page/introduce";
@import "page/service";
@import "page/service-contact";
@import "page/consultation";