@media (min-width: 768px) {
  .single-works .article.col-sm-8 .tag {
    line-height: 40px;
    top: 60px;
    left: 40px;
  }
  .single-works .article.col-sm-8 a.lead {
    padding-left: 40px;
  }
  .single-works .img {
    display: none;
  }
  .single-works .img__medium {
    display: block;
  }
  .single-works .tag.reproduce {
    width: 66px;
  }
  .single-works .tag.actual-project {
    width: 79px;
  }
  .single-works .tag.learning {
    width: 66px;
  }
  .single-works .tag.sample {
    width: max-content;
  }
  .single-works .tag.original {
    width: max-content;
  }
  .single-works .tag {
    padding: 0.1rem 2rem;
    border-radius: 5%;
    width: max-content;
    font-family: monospace;
  }
  .single-works .tag.reproduce {
    color: #000;
    background-color: #e0e0e0;
    width: 56px;
  }
  .single-works .tag.reproduce {
    width: 66px;
  }
  .single-works .tag.actual-project {
    color: #fff;
    background-color: #33b5e5;
    width: 69px;
  }
  .single-works .tag.actual-project {
    width: 79px;
  }
  .single-works .tag.learning {
    color: #fff;
    background-color: #59698d;
    width: 56px;
  }
  .single-works .tag.learning {
    width: 66px;
  }
  .single-works .tag.sample {
    color: #fff;
    background-color: #fbc02d;
    width: 82px;
  }
  .single-works .tag.sample {
    width: max-content;
  }
  .single-works .tag.original {
    color: #fff;
    background-color: #388e3c;
    width: 95px;
  }
  .single-works .tag.original {
    width: max-content;
  }
  .author {
    width: 740px;
  }
  .top-box {
    width: 100%;
    max-width: 900px;
    margin-bottom: 2rem;
    padding-bottom: 52px;
  }
  .author {
    width: 100%;
    max-width: 100%;
  }
  .single-wrap {
    margin-bottom: 2rem;
    margin-top: 0;
  }
  .header-nav {
    margin: 40px auto 20px;
    max-width: 100%;
  }
  .nav-menu__ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
  }
  .openbtn1 {
    top: 40px;
  }
  .top-schedule {
    display: none;
  }
  .skill-blog {
    padding-left: 20px;
    padding-right: 20px;
  }
  .study-blog {
    padding-left: 20px;
    padding-right: 20px;
  }
  .random-blog {
    padding-left: 20px;
    padding-right: 20px;
  }
  .card {
    width: 250px;
  }
  .author__contents {
    padding-bottom: 30px;
  }
  .sp-img {
    display: none;
  }
  .single .author .wp-block-image {
    margin: 40px auto;
    padding: 0 22px;
  }
  .single .author .wp-block-image.w-20 {
    width: 20%;
    padding: 0;
  }
  .single .author .wp-block-image.w-50 {
    width: 50%;
    padding: 0;
  }
  .single iframe.map.sp {
    display: none;
  }
  .sp-form {
    display: none;
  }
  .youtube-wrapper--sp {
    display: none;
    text-align: center;
  }
  .youtube-wrapper--pc {
    text-align: center;
    margin-bottom: 27px;
  }
  .sp-img {
    display: none;
  }
  .page .author .wp-block-image.w-50 {
    width: 50%;
    margin: 0 auto;
  }
  .page iframe.map.sp {
    display: none;
  }
  .sp-form {
    display: none;
  }
  .skill-blog__meta {
    width: 38%;
  }
  .home .skill-blog__tag {
    width: 60%;
  }
}
