.sample-acf-image {
  .l-pc-left.--single {
    padding: 0;
  }
  .all-article__date,
  #first-ttl,
  .nav-links,
  .bread {
    display: none;
  }
  .jimo_img {
    width: 100%;
  }
  .post__ttl {
    margin-top: 0;
  }
}
