.single .main-contents {
  justify-content: center !important;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.single .nav-menu__ul {
  padding: 0;
  margin: 0;
}

.single h2 {
  background: #f7f7f7;
  padding: 15px;
  color: #000;
  border-left: 6px solid #333;
  line-height: 40px;
  margin: 60px 20px 40px;
}

.single h3 {
  border-left: 6px solid #000;
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #333;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0px 15px 0px;
  font-size: 20px;
}

.single .author h4 {
  text-align: left;
  padding-left: 20px;
}

.single p {
  margin-bottom: 60px;
}

.single p a {
  text-decoration: none;
  font-weight: 600;
}

.single article ul {
  margin-top: 10px;
  margin-left: 20px;
}

.single ul li {
  color: #000;
}

.single pre {
  font-size: 17px;
  background-color: #fafafa;
  padding: 40px 25px;
  color: #5a5a5a;
  font-weight: 500;
  line-height: 1.5;
  outline: 1px solid #f0f0f0;
  border-color: #f0f0f0;
  text-align: left;
  margin: 0 20px 40px;
}

.single pre.ml-adjust {
  margin-left: 22px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  word-break: normal;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.single .author .wp-block-image {
  text-align: center;
}

.single iframe.map {
  margin-left: 20px;
}

.slick {
  width: 70%;
  margin: 0 auto;
}

.related-post {
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  .related-post__link:not(:last-child) {
    margin-bottom: 10px;
  }

  .related-post__contents {
    max-width: 648px;
    border: 1px solid #d2d2d2;
    padding: 5px 10px;
    color: #000;
    display: flex;
    align-items: center;
  }

  .related-post__tag {
    width: 24%;
    border: 1px solid #d2d2d2;
    padding: 0px 20px;
    text-align: center;
    display: inline-block;
    margin: 3px 10px;
  }
}

@media (max-width: 1023px) {
  .single iframe.map.pc {
    display: none;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .single iframe.map.pc {
    display: none;
  }
}

@media (min-width: 1024px) {
  .single iframe.map.tb {
    display: none;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  .author.calendar {
    width: 720px;
  }
}

@media (min-width: 768px) {
  .author__contents {
    padding-bottom: 30px;
  }

  .sp-img {
    display: none;
  }

  .single .author .wp-block-image {
    margin: 40px auto;

    &.w-20 {
      width: 20%;
    }

    &.w-50 {
      width: 50%;
    }
  }

  .single iframe.map.sp {
    display: none;
  }
}

.single .author.col-xs-12 {
  border: 1px solid #bcbcbc;

  @media (max-width: 575px) {
    border: none;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .single .author.col-xs-12 {
    width: 900px;
  }
}

@media (min-width: 992px) {
  .single .author.col-xs-12 {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .single .author.col-xs-12 {
    width: 1140px;
  }
}

@media (max-width: 767px) {
  .single .author.col-xs-12 {
    padding-bottom: 15px;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  .header-nav {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  article {
    width: 100%;
  }

  .single main {
    padding: 0 15px;
  }

  .single h2 {
    margin-left: 0;
    margin-right: 0;
  }

  .single h3 {
    margin-left: 0;
    margin-right: 0;
  }

  .single h4 {
    margin-left: 0;
    margin-right: 0;
  }

  .single .author h4 {
    padding-left: 0;
  }

  .single article ul {
    margin-left: 0;
  }

  .pc-img {
    display: none;
  }

  .single .author img {
    width: 75%;
  }

  .single .wp-block-image {
    margin: 40px 0;
  }

  .single pre.ml-adjust {
    margin-left: 0;
  }

  .single iframe.map.tb {
    display: none;
  }

  .single iframe.map.sp {
    display: block;
    margin-left: 0;
  }

  .tb-form {
    display: none;
  }

  .single pre {
    margin: 0 0 40px;
  }

  .youtube-wrapper--pc {
    display: none;
    text-align: center;
  }

  .related-post {
    padding-left: 0;
  }
}

@media (max-width: 576px) {
  .related-post .related-post__contents {
    display: flex;
    flex-wrap: wrap;
  }

  .related-post .related-post__tag {
    display: none;
  }

  .related-post__date {
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .single .author img {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .single h1 {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .tb-form {
    display: none;
  }
}

@media (max-width: 991px) {
  .pc-form {
    display: none;
  }
}

@media (min-width: 768px) {
  .sp-form {
    display: none;
  }

  .youtube-wrapper--sp {
    display: none;
    text-align: center;
  }

  .youtube-wrapper--pc {
    text-align: center;
    margin-bottom: 27px;
  }
}
