/* ----------------------------------------------------------------------
	個別ページ
---------------------------------------------------------------------- */

.single .nav-menu__ul {
  padding: 0;
  margin: 0;
}

.single h2 {
  background: #f7f7f7;
  padding: 15px;
  color: #000;
  border-left: 6px solid #333;
  line-height: 40px;
  margin: 60px 20px 40px;
}

.single h3 {
  border-left: 6px solid #000;
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #333;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0px 15px 0px;
  font-size: 20px;
}

.single h4 {
  margin-left: 20px;
}

.single p {
  margin-bottom: 60px;
}

.single p a {
  text-decoration: none;
  font-weight: 600;
}

.single article ul {
  margin-top: 10px;
  margin-left: 20px;
}

.single ul li {
  color: #000;
}

.single pre {
  font-size: 17px;
  background-color: #fafafa;
  padding: 40px 25px;
  color: #5a5a5a;
  font-weight: 500;
  line-height: 1.5;
  outline: 1px solid #f0f0f0;
  border-color: #f0f0f0;
  text-align: left;
  margin: 0 20px 40px;
}

.single pre.ml-adjust {
  margin-left: 22px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  word-break: normal;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (max-width: 999px) and (min-width: 768px) {
  .author.calendar {
    width: 720px;
  }
}

@media (min-width: 768px) {
  .sp-img {
    display: none;
  }

  .single .author .wp-block-image.w-50 {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .single .author.col-xs-12 {
    width: 900px;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  .header-nav {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .single h1 {
    margin-top: 0;
  }

  .single h2 {
    margin-left: 0;
    margin-right: 0;
  }

  .single h3 {
    margin-left: 0;
    margin-right: 0;
  }

  .single h4 {
    margin-left: 0;
    margin-right: 0;
  }

  .single article ul {
    margin-left: 0;
  }

  .pc-img {
    display: none;
  }

  .single .author img {
    width: 75%;
  }

  .single pre.ml-adjust {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .single h1 {
    margin-top: 38px;
  }

  .single .author img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .tb-form {
    display: none;
  }
}

@media (max-width: 991px) {
  .pc-form {
    display: none;
  }
}

@media (min-width: 768px) {
  .sp-form {
    display: none;
  }
}

@media (max-width: 767px) {
  .tb-form {
    display: none;
  }
}