.single {
  p {
    font-size: 15px;
    line-height: 30px;
    margin-top: 16px;
    color: #313131db;
    font-family: Helvetica Neue;
    font-weight: normal;
    @include mq(md) {
      padding: 0;
      font-size: 16px;
    }
  }
  ul li,
  ol li {
    margin-bottom: 7px;
  }
  ul li.header__child-li {
    margin-bottom: 0;
  }
  .wp-block-image img {
    padding: 0;
  }
  .post__content {
    ul {
      padding-left: 25px;
      @include mq(sm) {
        padding-left: 40px;
      }
    }
  }
  .span.post.post-post.current-item {
    font-size: 14px;
  }
  .all-article__date {
    text-align: center;
    margin-top: 38px;
    @include mq(lg) {
      margin-top: 65px;
    }
  }
  .post__ttl {
    margin-top: 21px;
  }
}
