.single {
  p {
    font-size: 16px;
    line-height: 32px;
    margin-top: 32px;
    color: $text;
    font-family: Helvetica Neue;
    font-weight: normal;
    @include mq(md) {
      padding: 0;
      font-size: 16px;
    }
  }
  ul li,
  ol li {
    margin-bottom: 7px;
  }
  ul li.header__child-li {
    margin-bottom: 0;
  }
  .wp-block-image img {
    padding: 0;
  }
  .post__content {
    ul {
      padding-left: 25px;
      @include mq(sm) {
        padding-left: 40px;
      }
    }
  }
  .span.post.post-post.current-item {
    font-size: 14px;
  }
  .all-article__date {
    text-align: center;
    margin-top: 38px;
    @include mq(lg) {
      margin-top: 65px;
    }
  }
  .post__ttl {
    margin-top: 10px;
  }
}

.post .wp-block-embed__wrapper {
  text-align: left;
}
@media (min-width: 1200px) {
  .wp-block-embed iframe {
    width: 100%;
    height: 383px;
  }
}
@media (min-width: 768px) {
  .post .w-50 {
    margin: 40px 0;
  }
}
.comment-form-comment {
  display: flex;
  flex-direction: column;
}
#comment {
  padding: 10px;
  font-size: 16px;
}
#author,
#email,
#url {
  font-size: 16px;
}