.single {
  p {
    font-size: 16px;
    line-height: 32px;
    margin-top: 32px;
    color: $text;
    font-weight: normal;
    font-family: Helvetica Neue;
    @include mq(md) {
      padding: 0;
      font-size: 16px;
    }
  }
  ul li,
  ol li {
    margin-bottom: 7px;
    font-family: Helvetica Neue;
  }
  ul li.header__child-li {
    margin-bottom: 0;
  }
  .wp-block-image img {
    padding: 0;
  }
  .post__content {
    ul {
      padding-left: 25px;
      @include mq(sm) {
        padding-left: 40px;
      }
    }
  }
  .span.post.post-post.current-item {
    font-size: 14px;
  }
  .all-article__date {
    text-align: center;
    margin-top: 38px;
    @include mq(lg) {
      margin-top: 65px;
    }
  }
  .post__ttl {
    margin-top: 10px;
  }
}

.post .wp-block-embed__wrapper {
  text-align: left;
}
@media (min-width: 1200px) {
  .wp-block-embed iframe {
    width: 100%;
    height: 383px;
  }
}
@media (min-width: 768px) {
  .post .w-50 {
    margin: 40px 0;
  }
}
.comment-form-comment {
  display: flex;
  flex-direction: column;
}
#comment {
  padding: 10px;
  font-size: 16px;
  margin-top: 4px;
}
.ez-toc-widget-container ul.ez-toc-list li.active {
  background-color: none;
}
.blog-article__aside-table-of-contents {
  max-height: 100vh;
  overflow-y: scroll;
}
.blog-article__aside-table-of-contents div.ez-toc-widget-container ul.ez-toc-list li {
  padding: 5px 10px;
}
input#submit {
  color: black;
  background: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  border: none;
  font-weight: normal;
}
#author,
#email,
#url {
  padding: 0 10px;
  font-size: 16px;
}

p.comment-form-author,
p.comment-form-email,
p.comment-form-url {
  display: flex;
  flex-direction: column;
}

@include mq(md) {
  #author,#url {
    margin-left: 25px;
  }
  #email {
   margin-left: 10px;
  }
  p.comment-form-author,
  p.comment-form-email,
  p.comment-form-url {
  flex-direction: row;
}
}

.post-id {
  padding-bottom: 66px;
}