.tag-mv {
  position: relative;
  &.l-container {
    padding: 0;
    margin: 7px 20px 19px;
    @include mq(lg) {
      margin: -26px 15px 80px 15px;
    }
    @media (min-width: 1140px) {
      margin: -26px auto 80px auto;
      max-width: 1107px;
    }
    @include mq(xl) {
      max-width: 1140px;
    }
  }
  img {
    width: 100%;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    z-index: 1;
    font-size: 25px;
    margin-top: 0;
    @include mq(sm) {
      font-size: 40px;
    }
    @include mq(md) {
      font-size: 50px;
      top: 49%;
    }
  }
  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.tag {
  .all-article__link {
    margin-bottom: 20px;
  }
}

.wp-tag-cloud {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  .tag-cloud-link::before {
    content: "- ";
  }
  .tag-link- {
    &236,&238,&80,&251,&169,&188,&237,&173,&119,&84,&87,&52,&165,&240,&214,&197,&122,&220,&247,&104,&138,&231,&246,&243,&235,&75,&82,&215,&219,&254,&253,&255,&256,&257,&258,&259,&260,&263,&285,&283,&284 {
      padding-left: 17px;
    }
    &233,&234,&204,&140,&117,&74,&252,&286 {
      padding-left: 36px;
    }
  }
}

.basic-info {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1140px;
  @include mq(sm) {
    padding: 0;
  }
  &__ttl {
    margin-bottom: 5px;
    font-size: 17px;
    @include mq(sm) {
      font-size: 20px;
    }
  }
  &__img {
    @include mq(sm) {
      width: 50%;
    }
    img {
      width: 100%;
    }
  }
  &__p {
    font-size: 15px;
    padding: 0;
    margin: 20px 0 10px;
    line-height: 1.8;
    @include mq(sm) {
      margin: 40px 0 -10px;
    }
  }
}