@mixin top-blog($blog-bg-color, $blog-color) {
  background-color: $blog-bg-color;
  margin: 0 -15px;
  padding: 25px 15px;
  @include mq(xl) {
    padding: 50px;
  }
  &__tag-ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
    @include mq(xl) {
      width: 1170px;
      margin: 0 auto;
    }
  }
  &__tag-li {
    border-radius: 16px;
    background-color: $white;
    padding: 0 12px;
    cursor: pointer;
    white-space: nowrap;
    margin: 5px;
    font-size: 14px;
    @include mq(xl) {
      margin: 9px;
      font-size: 16px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      transition: all 0.3s;
      background-color: $blog-color;
      color: $white;
    }
    &.active {
      transition: all 0.3s;
      background-color: $blog-color;
      color: $white;
    }
  }
  &__ttl {
    color: $blog-color;
    text-align: center;
    font-size: 40px;
    margin: 0;
  }
  &__desc {
    margin-bottom: 20px;
    margin-top: 0;
    @include mq(sm) {
      text-align: center;
    }
  }
  &__hr {
    border: 2px solid $blog-color;
    width: 53px;
  }
  .more-link.--top-sec {
    @include mq(xl) {
      width: 1170px;
      margin: 0 auto;
    }
  }
}
