@import "color";
@import "breakpoint";

.author-box {
  background-color: $white;
  padding: 26px 20px 20px;
  margin: 30px auto;
  border: 1px solid $gray;
  width: 100%;
  @include mq(lg) {
    width: auto;
    margin-top: 0;
  }
  &__img-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
  &__my-name {
    margin-top: 35px;
    text-align: center;
    font-family: "Avenir-Next";
    font-weight: 600;
    margin-top: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__line {
    border: 1px solid $line-color-gray;
    width: 20%;
  }
  &__text {
    font-size: 16px;
    padding: 0 !important;
    margin-top: 16px !important;
    line-height: 2 !important;
    color: $black;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: right;
    color: $black;
    &:hover {
      opacity: .5;
      transition: all .3;
    }
  }
  &__link-icon {
    width: 7px;
    margin-left: 8px;
    margin-right: 0;
  }
}
