@import "breakpoint";
@import "color";
.blog-list-grid {
  display: grid;
  gap: 20px;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
  @include mq(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include mq(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include mq(xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  &__link {
    &:not(:last-child) {
      margin: 0 20px 10px 0;
      width: 100%;
      display: flex;
    }
  }
  &__contents {
    max-width: 750px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid $gray;
    color: $black;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  &__thumb-nail-wrap {
    margin-bottom: 15px;
  }
  &__img {
    width: 100%;
    height: 27.2vw;
    object-fit: contain;
    @include mq(md) {
      height: 135px;
    }
  }
  &__meta {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__tag {
    border: 1px solid #d2d2d2;
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    margin: 3px 0;
    font-size: 11px;
    @include mq(md) {
      width: 100%;
      font-size: 14px;
    }
  }
  &__ttl {
    @include mq(md) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}
