@import "color";
.blog-list-grid {
  display: grid;
  // grid-template-columns:

  &__contents {
    border: 1px solid $gray;
    padding: 5px 10px;
    color: #000;
    display: block;
  }
  // &__link {

  // }
}
