@import "breakpoint";
@import "color";
.blog-list-scroll {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  padding: 0 20px 5px 20px;
  &__link {
    &:not(:last-child) {
      margin: 0 20px 10px 0;
      width: 100%;
      display: flex;
    }
  }
  &__contents {
    max-width: 750px;
    padding: 10px;
    height: 251px;
    margin: 0 auto;
    border: 1px solid $gray;
    color: $black;
    flex-direction: column;
    display: flex;
    align-items: center;
    @include mq(md) {
      height: 357px;
    }
  }
  &__thumb-nail-wrap {
    width: 300px;
    height: 200px;
    margin-bottom: 15px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__meta {
    @include mq(md) {
      width: 50%;
      text-align: center;
      flex-direction: column;
    }
  }
  // &__date {

  // }
  &__tag {
    border: 1px solid #d2d2d2;
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    margin: 3px 0;
    font-size: 11px;
    @include mq(md) {
      width: 100%;
      font-size: 14px;
    }
  }
  &__ttl {
    @include mq(md) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}
