.top-contents__wrap {
      display: flex;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 5px;
}
.skill-blog__link:not(:last-child) {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}
  .top-contents__wrap .skill-blog__link:not(:last-child) {
      margin-right: 20px;
      display: flex;
  }
  .skill-blog__contents {
    max-width: 750px;
    flex-direction: column;
}
.top-contents__wrap .skill-blog__contents {
    padding: 10px;
}
  @media (min-width: 768px) {

    .top-contents__wrap .skill-blog__contents {
        height: 357px;
    }
  }
  .thumb-nail-wrap {
    width: 300px;
    height: 200px;
    margin-bottom: 15px;
}
@media (min-width: 768px) {

  .top-contents__wrap .skill-blog__meta {
      width: 50%;
      text-align: center;
      flex-direction: column;
  }
}
@media (max-width: 767px) {
  .top-contents__wrap span.skill-blog__ttl {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
  }
}
@media (max-width: 767px) {
  .top-contents__wrap .skill-blog__contents {
      height: 251px;
  }
}