@import "breakpoint";
@import "color";

.blog-list-grid {
  display: grid;
  display: -ms-grid;
  gap: 15px;
  padding-left: 0;
  grid-template-columns: 1fr;
  margin-top: 15px;
  @include mq(md) {
    margin-top: 0;
  }
  &__link {
    margin: 0 20px 0 0;
    width: 100%;
    display: flex;
    &:hover {
      opacity: 0.7;
    }
  }
  &__contents {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid $gray;
    background-color: $white;
    color: $black;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  &__thumb-nail-wrap {
    margin-bottom: 15px;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  &__meta {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__tag-wrap {
    @include mq(md) {
      width: 100%;
    }
  }
  &__tag {
    border: 1px solid #d2d2d2;
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    margin: 3px 0;
    font-size: 11px;
    @include mq(md) {
      font-size: 14px;
    }
  }
  &__ttl {
    @include mq(md) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}
