@import "color";
@import "breakpoint";
.blog-archive {
  &__mv-text-wrap {
    color: $white;
    @include mq(xl) {
      padding: 17px 64px;
    }
  }
  &__mv-text {
    font-weight: normal;
  }
}
@mixin mv-text-wrap-bg-color($bg-color) {
  .blog-archive {
    &__mv-text-wrap {
      background-color: $bg-color;
    }
  }
}
.category-skill-blog {
  @include mv-text-wrap-bg-color($skill-color);
}
.category-study-blog {
  @include mv-text-wrap-bg-color($study-color);
}
.category-random-blog {
  @include mv-text-wrap-bg-color($random-color);
}
