.fade-in-zoom {
  .google-auto-placed,
  .mys-wrapper,
  .page-top {
    display: none;
  }
}

.zoom-slider {
  height: 100vh;
  width: 1140px;
  margin: 0 auto;
}

@keyframes kenburns {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
