@import "color";
@import "breakpoint";

.fade-in-zoom {
  .google-auto-placed,
  .mys-wrapper,
  .page-top {
    display: none;
  }
}

.zoom-slider {
  height: 60vh;
  margin: 0 auto;
  width: 100%;
  @include mq(xl) {
    width: 1140px;
  }
  &__text {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
    font-size: 54px;
    @include mq(xl) {
      font-size: 72px;
    }
  }
}

@keyframes kenburns {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
