@import "color";
@import "breakpoint";

.fade-in-zoom {
  .google-auto-placed,
  .mys-wrapper,
  .page-top {
    display: none;
  }
}

.zoom-slider {
  height: 60vh;
  margin: 0 auto;
  width: 100%;
  @include mq(xl) {
    width: 1140px;
  }
  &__text {
    position: absolute;
    z-index: 2;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white !important;
    margin-top: 0 !important;
    font-weight: normal !important;
    font-size: 54px;
    @include mq(xl) {
      font-size: 72px;
    }
  }
}

@keyframes kenburns {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.fadein {
  width: 100%;
  margin: 0 auto 30px;
  padding: 15px;
  @include mq(xl) {
    width: 1140px;
    padding: 0;
  }
  &__ttl {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center;
  }
  &__contents {
    display: grid;
    display: -ms-grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    @include mq(md) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__img {
    width: 100%;
    &.--fadeInTrigger {
      opacity: 0;
    }
    &.--fadeInTrigger-sp {
      opacity: 0;
      @include mq(sm) {
          opacity: 1;
      }
    }
    &.--fadeIn {
      animation-name: fadeInAnime;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      opacity: 0;
    }
    @keyframes fadeInAnime {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
