@import "mixin";

footer {
  background-color: #202020;
}

footer nav {
  display: flex;
  justify-content: space-around;
  padding: 20px 15px;
  max-width: 1140px;
  margin: 0 auto;
}

footer nav .nav-contents {
  margin-right: 54px;
}

footer nav .nav-contents:last-child {
  margin-right: 0;
}

footer nav a {
  color: #fff;
  @include link-hover;
}

footer nav h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

footer nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

footer nav li {
  font-size: 15px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  footer {
    margin-bottom: 0;
  }

  footer nav {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 575px) {
  footer nav {
    flex-direction: column;
  }
}

footer nav {
  margin-top: 30px;
}

@media (min-width: 992px) {
  footer nav {
    margin-top: 0;
  }
}
