.index-template {
  &__ttl {
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
  }
  &__section {
    margin-bottom: 20px;
    text-align: center;
  }
  &__desc {
    width: 100%;
  }
}
