@import "breakpoint";

.l-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  padding: 0 20px;
  @include mq(sm) {
    padding-top: 0;
  }
  @include mq(lg) {
    flex-direction: row;
  }
  @include mq(xl) {
    padding: 0;
    margin-top: 30px;
    &.--mt-xl-0 {
      margin-top: 0;
    }
  }
}

.l-pc-left {
  margin-right: 40px;
  margin-bottom: 30px;
  width: 100%;
  @include mq(lg) {
    width: calc((100% - 40px) / 12 * 8);
  }
}

.l-pc-right {
  width: 100%;
  @include mq(lg) {
    width: calc((100% - 40px) / 12 * 4);
  }
}
