@import "breakpoint"; 

.l-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  padding: 161px 20px 0;
  @include mq(sm) {
    padding-top: 177px;
  }
  @include mq(lg) {
    flex-direction: row;
  }
  @include mq(xl) {
    padding: 177px 0 0;
  }
}

.l-pc-left {
  margin-right: 20px;
  width: 100%;
  @include mq(lg) {
    width: calc((100% - 20px) / 12 * 8);
  }
}

.l-pc-right {
  width: 100%;
  @include mq(lg) {
    width: calc((100% - 20px) / 12 * 4);
  }
}
