@import "color";
.mv {
  &__text-wrap {
    &.--blog {
      color: $white;
    }
    &.--skill {
      background-color: $skill-color;
    }
    &.--study {
      background-color: $study-color;
    }
    &.--random {
      background-color: $random-color;
    }
  }
}
