@import "color";
@import "breakpoint";
.mv {
  &__text-wrap {
    @include mq(xl) {
      padding: 17px 64px;
    }
    &.--blog {
      color: $white;
    }
    &.--skill {
      background-color: $skill-color;
    }
    &.--study {
      background-color: $study-color;
    }
    &.--random {
      background-color: $random-color;
    }
  }
  &__text {
    &.--blog {
      font-weight: normal;
    }
  }
}
