@import "color";
@import "breakpoint";

.post-list-ttl {
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0px 15px 0px;
  font-size: 25px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  @include mq(lg) {
    flex-direction: row;
    text-align: left;
    border-left: 6px solid;
    margin: 0 0 30px 0;
  }
  &.--what-i-did {
    border-color: $black;
  }
  &.--skill-blog {
    border-color: $skill-color;
    color: $skill-color;
  }
  &.--study-blog {
    border-color: $study-color;
    color: $study-color;
  }
  &.--random-blog {
    border-color: $random-color;
    color: $random-color;
  }
  &.--drink-comparison {
    border-color: $drink-comparison-color;
    color: $drink-comparison-color;
  }
  &__study-list {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__study-list-img {
    width: 24px;
    height: 24px;
  }
}