@import "breakpoint";
@import "color";

.post {
  @import "post/meta";
  &__ttl {
    color: $black;
    text-align: center;
    margin-top: 36px;
  }
  .w-50 {
    @include mq(md) {
      width: 50%;
      margin: 40px auto;
    }
  }
  h2 {
    background: $what-i-did-bg-color;
    border-left: 6px solid;
    border-color: $black;
    color: $black;
    padding: 15px;
    line-height: 40px;
    margin: 60px 0 40px;
  }
  h3 {
    border-left: 6px solid $black;
    color: $font-color;
    font-weight: 600;
    letter-spacing: 1.6px;
    padding: 0px 15px 0px;
    font-size: 20px;
    margin: 60px 0 40px 0;
    overflow-wrap: break-word;
  }
  .amazon-link a {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  &__bread {
    @include mq(md) {
      padding: 2px 2px 0 20px;
    }
  }
  &__contents {
    width: 100%;
    .wp-block-image.w-50 {
      padding: 0;
      margin: 40px auto;
      @include mq(md) {
        width: 50%;
      }
    }
    ul,
    ol {
      color: #000;
      margin-top: 10px;
      padding-left: 40px;
      @include mq(md) {
        margin-left: 20px;
      }
      li {
        font-size: 16px !important;
      }
    }
  }
  &__post-meta {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    @include mq(md) {
      margin-bottom: 20px;
    }
    @include mq(lg) {
      text-align: right;
    }
  }
  .book-img {
    width: 100%;
    text-align: center;
    @include mq(md) {
      width: 150px;
      margin: 0 auto;
    }
  }
  &__drink-comparison-record-slide-wrap {
    margin: 30px auto 0;
    position: relative;
    @include mq(md) {
      width: 600px;
    }
  }
  &__drink-comparison-record-slide {
    .slick-slide {
      height: 600px;
      object-fit: cover;
      overflow: hidden;
    }
    .slick-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .thumbs_dots {
    margin: 10px 0 0;
  }
  .thumbs_dots {
    margin: 10px 0 0;
  }
  .thumbs_list {
    padding-left: 0;
    margin: 0;
  }
  .thumbs_list li {
    display: inline-block;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s;
    width: calc(100% / 4);
    height: 90px;
    @include mq(sm) {
      height: 180px;
    }
  }
  .thumbs_list li.slick-active {
    opacity: 1;
  }
  h2.--drink-comparison {
    background: $drink-comparison-bg-color;
    border-color: $drink-comparison-color;
    margin: 30px 0 30px;
    @include mq(md) {
      margin: 30px 20px 30px;
    }
  }
  h2.--purchase {
    margin-bottom: 60px;
  }
  p.--drink-comparison {
    line-height: 2;
    margin: 20px 0 60px;
    @include mq(md) {
      margin: 20px 20px 60px;
    }
  }
  &__thumb {
    margin: 40px auto 50px !important;
    width: auto !important;
    display: block;
    max-width: 100%;
    height: auto;
  }
  .wp-block-table {
    @include mq(md) {
      margin: 0 20px 1em;
    }
  }
  table {
    text-align: center;
    border-spacing: 0;
  }
  th {
    padding: 10px;
    border: solid 1px $black;
    color: $black;
  }
  td {
    padding: 10px;
    border: solid 1px $black;
    color: $black;
  }
  .g-map {
    max-width: 100%;
    @include mq(md) {
      padding: 0 20px;
    }
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    padding-left: 0;
    &__link {
      color: $black;
      display: flex;
      &:hover {
        opacity: .5;
        transition: all .3;
      } 
    }
    &__nav {
      width: 50%;
      list-style: none;
      span {
        display: flex;
        align-items: center;
      }
      &.--pre {
        .nav-links__link-icon {
          transform: rotate(-180deg);
          margin-right: 5px;
          @include mq(xl) {
            margin-right: 15px;
          }
        }
      }
      &.--next {
        text-align: right;
        display: flex;
        margin-left: auto;
        span {
          justify-content: flex-end;
        }
        .nav-links__link-icon {
          margin-left: 5px;
          @include mq(xl) {
            margin-left: 15px;
          }
        }
        .nav-links__link {
          justify-content: flex-end;
        }
      }
    }
    &__link-icon {
      width: 5px;
      @include mq(xl) {
        width: 10px;
      }
    }
    &__thumb {
      max-width: 85%;
      @include mq(xl) {
        max-width: 70%;
      }
      height: auto;
    }
  }
}

@mixin table($cat, $bg-color, $border-color) {
  .#{$cat}-blog {
    th {
      background-color: $bg-color;
      border-color: $border-color;
    }
    td {
      border-color: $border-color;
    }
  }  
}
@include table('random', $random-bg-color, $random-table-color);
@include table('study', $study-bg-color, $random-table-color);

.drink-comparison {
  h3 {
    border-color: $drink-comparison-color;
  }
}
