@import "color";
@import "mixin";

.sidebar-archive {
  margin-top: 30px;
  a {
    @include link-hover;
  }
  &__ttl {
    margin: 0;
    border-left: 6px solid;
    color: $font-color;
    font-weight: 600;
    letter-spacing: 1.6px;
    padding: 0px 15px 0px;
    font-size: 20px;
    &.--drink-comparison-record {
      margin-top: 30px;
    }
  }
  &__list-wrap {
    list-style: none;
    padding-left: 21px;
    margin-bottom: 30px;
    li {
      margin-bottom: 7px;
      font-size: 17px;
    }
  }
}