@import "color";
@import "breakpoint";

.single {
  h2 {
    color: $black;
    background-color: $black-bg-color;
    padding: 15px;
    border-left: 6px solid;
    line-height: 40px;
    margin: 60px 0 40px;
    @include mq(md) {
      margin: 60px 20px 40px;
    }
  }

  h3 {
    border-left: 6px solid;
    color: #333;
    font-weight: 600;
    letter-spacing: 1.6px;
    padding: 0px 15px 0px;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 40px;
    @include mq(xl) {
      margin-left: 20px;
    }
    &.sidebar-ttl {
      margin-top: 30px;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  @media (min-width: 768px) {
    .cp_embed_wrapper {
      padding: 0 20px;
    }
  }

  .ez-toc-widget-container ul.ez-toc-list {
    padding: 10px;
    max-height: 50vh;
    height: auto;
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin-left: 20px;
  }

  .skill-blog {
    h2,
    h3 {
      border-color: $skill-color;
    }
    h2 {
      background: $skill-bg-color;
    }
  }

  .study-blog {
    h2,
    h3 {
      border-color: $study-color;
    }
    h2 {
      background: $study-bg-color;
    }
  }

  .random-blog {
    h2,
    h3 {
      border-color: $random-color;
    }
    h2 {
      background: #88466e1a;
    }
  }

  .diary {
    h2,
    h3 {
      border-color: $diary-color;
    }
    h2 {
      background: $diary-bg-color;
    }
  }

  .exercise-record {
    h2,
    h3 {
      border-color: $exercise-color;
    }
    h2 {
      background: $exercise-bg-color;
    }
  }

  .blog-list-grid__tag-wrap {
    @include mq(lg) {
      text-align: right;
    }
  }

  .blog-list-grid__tag {
    margin-right: 3px;
    @include mq(lg) {
      margin-right: 0;
      margin-left: 3px;
    }
  }

  .table-of-contents-ttl {
    margin-bottom: 16px;
    @include mq(md) {
      margin-left: 20px;
    }
  }
}

.ez-toc-widget-container {
  h3 {
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: 0;
  }
}
