@import "breakpoint";
@import "color";

.single-article {
  &__bread {
    @include mq(md) {
      padding: 2px 2px 0 20px;
    }
  }
  &__post {
    width: 100%;
    .wp-block-image.w-50 {
      padding: 0;
      margin: 40px auto;
      @include mq(md) {
        width: 50%;
      }
    }
    ul,
    ol {
      margin-top: 10px;
      padding-left: 20px;
      @include mq(md) {
        margin-left: 20px;
        padding-left: 40px;
      }
      li {
        font-size: 16px !important;
      }
    }
  }
  &__post-meta {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    @include mq(md) {
      margin-bottom: 20px;
      padding-right: 20px;
    }
    @include mq(lg) {
      text-align: right;
    }
  }
  .book-img {
    width: 150px;
    margin: 0 auto;
  }
  &__drink-comparison-record-slide-wrap {
    margin: 30px auto 0;
    position: relative;
    @include mq(md) {
      width: 600px;
    }
  }
  &__drink-comparison-record-slide {
    .slick-slide {
      height: 600px;
      object-fit: cover;
      overflow: hidden;
    }
    .slick-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .thumbs_dots {
    margin: 10px 0 0;
  }
  .thumbs_dots {
    margin: 10px 0 0;
  }
  .thumbs_list {
    padding-left: 0;
    margin: 0;
  }
  .thumbs_list li {
    display: inline-block;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s;
    width: calc(100% / 4);
    height: 90px;
    @include mq(sm) {
      height: 180px;
    }
  }
  .thumbs_list li.slick-active {
    opacity: 1;
  }
  h2.--drink-comparison {
    background: $drink-comparison-bg-color;
    border-color: $drink-comparison-color;
    margin: 30px 0 30px;
    @include mq(md) {
      margin: 30px 65px 30px;
    }
  }
  h2.--purchase {
    margin-bottom: 60px;
  }
  p.--drink-comparison {
    line-height: 2;
    margin: 20px 0 60px;
    @include mq(md) {
      margin: 20px 65px 60px;
    }
  }
}

.drink-comparison-record {
  h3 {
    border-color: #F2C12E;
  }
}
