@import "color";

.study-list-show-post {
  &__container {
    border: 1px solid $gray;
    padding: 20px;
    margin: 20px;
  }
  .wp-show-posts-columns#wpsp-5266 {
    margin-left: 0;
  }
  .wp-show-posts-columns#wpsp-5266 .wp-show-posts-inner:nth-of-type(2n + 1) {
      margin-left: -2em;
  }
}
