@import "color";
@import "breakpoint";
.top-skill-blog {
  background-color: $skill-bg-color;
  padding: 50px;
  &__tag-ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
    width: 100%;
    overflow-x: scroll;
    @include mq(xl) {
      justify-content: center;
    }
  }
  &__tag-li {
    margin: 9px;
    border-radius: 16px;
    background-color: $white;
    padding: 0 12px;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      transition: all 0.3s;
      background-color: $skill-color;
      color: $white;
    }
  }
  &__ttl {
    color: $skill-color;
    text-align: center;
    font-size: 40px;
    margin: 0;
  }
  &__desc {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  &__hr {
    border: 2px solid $skill-color;
    width: 53px;
  }
}
