@media (min-width: 1200px) {
  .single-works .img__large {
    display: none;
  }
  .single-works .img__extra-large {
    display: block;
  }
  .breadcrumbs .breadcrumb {
    padding: 16px 22px 15px;
  }
  .breadcrumbs .breadcrumb {
    width: 900px;
    margin: 0 auto 3rem;
    background: none;
    padding-left: 0;
    padding-top: 0;
  }
  .container {
    width: 1170px;
  }
  .header-nav {
    margin: 0 auto;
  }
  .sp-nav {
    display: none;
  }
  header .blogname {
    margin: 10px 0;
  }
  .openbtn1 {
    display: none;
  }
  .single .author.col-xs-12 {
    width: 1140px;
  }
}
