/*-----------------------------------------------
  記事一覧
-----------------------------------------------*/

/* article_container */
@media (min-width: 768px) {
  .article-container {
    width: 70%;
    padding-right: 66px;
  }
}

/* front-sec__ttl */
.front-sec__ttl {
  font-size: 20px;
  color: #333;
  font-weight: normal;
  margin-bottom: 10px;
}

.archive .front-sec__ttl {
  margin-bottom: 10px;
}

.front-sec__ttl.mt-0 {
  margin-top: 25px;
}

@media (max-width: 767px) {
  .article-container h2.front-sec__ttl, 
  .single .article-container h3.front-sec__ttl {
    margin-bottom: 25px;
    margin-top: 30px;
    text-align: center;
  }
  .archive .article-container h2.front-sec__ttl {
    margin-bottom: 34px;
  }
  .article-container h2.front-sec__ttl.--sp-center.mt-0 {
    text-align: center;
    margin: 0 0 28px;
  }
  .single .article-container h3.front-sec__ttl.--sp-center {
    text-align: center;
    margin: 30px 0 28px;
  }  
  .article-container h2.front-sec__ttl.--sp-center, 
  .single .article-container h3.front-sec__ttl.--sp-center {
    text-align: center;
    margin: 30px 0 28px;
  }  
  .home .article-container h2.front-sec__ttl.--sp-center {
    margin-bottom: 17px;
  }
  .single .home .article-container h3.front-sec__ttl.--sp-center {
    margin-bottom: 38px;
  }  
  .home .article-container .tag-list h2.front-sec__ttl.--sp-center {
    margin-bottom: 29px;
  }  
  .home .article-container h2.front-sec__ttl.--has-mt, 
  .single .home .article-container h3.front-sec__ttl.--has-mt {
    margin-top: 19px;
  }   
}

.article-container .tag-list {
  display: none;
}  

.front-sec .date-article-list {
  padding-bottom: 0;
}

/* 全体のカード */
.all-article__post-wrap {
  display: block;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 767px) {
  .all-article__post-wrap {
    margin-bottom: 0;
    padding-bottom: 25px;
  }  
}

.pc-flex {
  display: flex;
  align-items: center;
  gap: 5px; /* 画像とテキストの間を少し広げる */
  margin-top: 0.3em;
}

@media (max-width: 767px) {
  .pc-flex {
    display: block;
    height: auto;
  }  
}

/* 日付 */
.all-article__date {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 3px;
}

/* タイトル */
.all-article__ttl {
  font-size: 1.25rem;
  color: #337ab7;
  line-height: 1.7;
}

@media (max-width: 767px) {
  .all-article__ttl {
    padding-top: 0;
  }  
}

/* サムネイル */
.all-article__thumb {
  margin: 0 1em 0 0;
  border-radius: 8px;
  width: 100%;
  height: 188px;
  max-width: 282px;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .all-article__thumb {
    margin: 0 0 1em 0;
    max-width: none;
    height: auto;
  }
}

.all-article__thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;   
  border-radius: 7px;
  background-color: #fff;
}

/* ディスクリプション */
.all-article__desc {
  font-size: 1rem;
  line-height: 1.85;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .all-article__desc {
    -webkit-line-clamp: 5; /* スマホは5行に拡張 */
    max-width: none;
  }
}