.blog-list-grid {
  display: grid;
  gap: 20px;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .blog-list-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .blog-list-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .blog-list-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.blog-list-grid__link:not(:last-child) {
  margin: 0 20px 10px 0;
  width: 100%;
  display: flex;
}

.blog-list-grid__contents {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  color: #000;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.blog-list-grid__thumb-nail-wrap {
  margin-bottom: 15px;
}

.blog-list-grid__img {
  width: 100%;
  height: 27.2vw;
  object-fit: contain;
}

@media (min-width: 768px) {
  .blog-list-grid__img {
    height: 135px;
  }
}

.blog-list-grid__meta {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.blog-list-grid__tag {
  border: 1px solid #d2d2d2;
  text-align: center;
  display: inline-block;
  padding: 0px 20px;
  margin: 3px 0;
  font-size: 11px;
}

@media (min-width: 768px) {
  .blog-list-grid__tag {
    width: 100%;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .blog-list-grid__ttl {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
