.blog-list-grid {
  display: grid;
  display: -ms-grid;
  gap: 15px;
  padding-left: 0;
  grid-template-columns: 1fr;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .blog-list-grid {
    margin-top: 0;
  }
}

.blog-list-grid__link {
  margin: 0 20px 0 0;
  width: 100%;
  display: flex;
}

.blog-list-grid__link:hover {
  opacity: 0.7;
}

.blog-list-grid__contents {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  color: #000;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.blog-list-grid__thumb-nail-wrap {
  margin-bottom: 15px;
}

.blog-list-grid__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.blog-list-grid__meta {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 768px) {
  .blog-list-grid__tag-wrap {
    width: 100%;
  }
}

.blog-list-grid__tag {
  border: 1px solid #d2d2d2;
  text-align: center;
  display: inline-block;
  padding: 0px 20px;
  margin: 3px 0;
  font-size: 11px;
}

@media (min-width: 768px) {
  .blog-list-grid__tag {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .blog-list-grid__ttl {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
