.blog-list-grid {
  display: grid;
}

.blog-list-grid__link:not(:last-child) {
  margin: 0 20px 10px 0;
  width: 100%;
  display: flex;
}

.blog-list-grid__contents {
  max-width: 750px;
  padding: 10px;
  height: 251px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  color: #000;
  flex-direction: column;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .blog-list-grid__contents {
    height: 357px;
  }
}

.blog-list-grid__thumb-nail-wrap {
  margin-bottom: 15px;
  width: 170px;
  height: 100px;
}

@media (min-width: 768px) {
  .blog-list-grid__thumb-nail-wrap {
    width: 300px;
    height: 200px;
  }
}

.blog-list-grid__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .blog-list-grid__meta {
    width: 50%;
    text-align: center;
    flex-direction: column;
  }
}

.blog-list-grid__tag {
  border: 1px solid #d2d2d2;
  text-align: center;
  display: inline-block;
  padding: 0px 20px;
  margin: 3px 0;
  font-size: 11px;
}

@media (min-width: 768px) {
  .blog-list-grid__tag {
    width: 100%;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .blog-list-grid__ttl {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
