.front-page__scroll::after {
  background: #fff;
}

.front-page__scroll-text {
  color: #fff;
}

.new-article {
  margin-bottom: 60px;
}

.new-article__ttl {
  font-family: Noto, Hiragino Sans, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}
