.front-page__scroll::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 25px;
  background: #fff;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 10px;
    opacity: 0;
  }
  30% {
    height: 25px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

.front-page__scroll-text {
  color: #fff;
  position: absolute;
  left: -20px;
  top: -18px;
  font-size: 1em;
  letter-spacing: 0.05em;
}
