/*
----------------------------------------
header
----------------------------------------
*/
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 102px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

/* __container */
.header__container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .header__container {
    width: 1170px;
  }
}

/* __contents */
.header__contents {
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px) {
  .header__contents {
    justify-content: space-between;
    align-items: center;
  }
}

/* __logo */
.header__logo {
  line-height: 1;
  padding: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .header__logo {
    margin: 10px 0;
    align-items: flex-start;
  }
}

.single .header__logo {
  margin-top: -3px;
}

/* __nav-pc */
.header__nav-pc {
  display: none;
}

@media (min-width: 1200px) {
  .header__nav-pc {
    display: flex;
  }
}

/* __ul-pc */
/* __li-pc */
/* __li-pc-link */
/* __li-pc--haschild */
/* __has-child-ul */
/* __has-child-li */
/* __has-child-li-link */
/* __open-btn */
.header__open-btn {
  position: fixed;
  top: 25px;
  right: 6px;
  transform: none;
}

@media (min-width: 1200px) {
  .header__open-btn {
    display: none;
  }
}

/* __open-btn-line */
.header__open-btn-line {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #313131db;
  width: 45%;
}

.header__open-btn-line:nth-child(1) {
  top: 15px;
}

.header__open-btn-line:nth-child(2) {
  top: 23px;
}

.header__open-btn-line:nth-child(3) {
  top: 31px;
}

.header__open-btn-line.active:nth-child(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.header__open-btn-line.active:nth-child(2) {
  opacity: 0;
}

.header__open-btn-line.active:nth-child(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/* __nav-sp */
.header__nav-sp {
  position: fixed;
  z-index: 999;
  top: -120%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: all 0.6s;
}

@media (min-width: 1200px) {
  .header__nav-sp {
    display: none;
  }
}

.header__nav-sp.active {
  top: 0;
}

/* __sp-site-ttl */
.header__sp-site-ttl {
  padding-top: 35px;
}

/* __sp-sitename-link */
/* __sp-sitename-logo */
/* header__sitename-link */
.header__sitename-link {
  font-size: 28px;
  color: #313131db;
  font-family: Helvetica Neue;
  letter-spacing: 0.1px;
  font-weight: 500;
}

@media (min-width: 576px) {
  .header__sitename-link {
    font-size: 30px;
  }
}

/* header__sitename-text */
