.kihiro-body {
  min-width: 375px;
}

body.fixed {
  position: fixed;
}

.header {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.header__sp-none {
  display: none;
}

@media (min-width: 576px) {
  .header__sp-none {
    display: inline;
  }
}

.header__container {
  margin: 0 auto;
  padding: 20px 15px 0;
  width: 100%;
  max-width: 1140px;
}

@media (min-width: 1200px) {
  .header__container {
    width: 1170px;
    max-width: none;
  }
}

.header__contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 0;
  text-align: center;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .header__contents {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .header__contents {
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2rem;
  }
}

.header__logo {
  line-height: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__sitename-text {
  line-height: 1.6;
}

.header__ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}

@media (min-width: 992px) {
  .header__ul {
    display: flex;
    opacity: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: initial;
  }
}

.header__ul.active {
  opacity: 1;
  transition: all .4s;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  background-color: #efefef;
  padding-left: 20px;
}

.header__ul.active .header__has-child-img {
  display: none;
}

.header__li-link {
  color: #000;
  display: block;
  text-decoration: none;
  transition: all 0.3s;
  text-align: center;
  font-size: 16px;
}

.header__li-link.--current {
  font-weight: bold;
}

.header__li-link.--skill-blog {
  color: #0a2c54;
}

.header__li-link.--study-blog {
  color: #59a076;
}

.header__li-link.--random-blog {
  color: #88466e;
}

.header__li-link:hover {
  opacity: 0.5;
  transition: all 0.3;
}

.header__has-child-li-link {
  color: #000;
}

.header__has-child-li-link:hover {
  color: #fff;
}

.header__has-child-li-link.--skill:hover {
  background: #0a2c54;
}

.header__has-child-li-link.--study:hover {
  background: #59a076;
}

.header__has-child-li-link.--random:hover {
  background: #88466e;
}

.header__open-btn {
  position: fixed;
  top: 25px;
  right: 6px;
  transform: none;
}

@media (min-width: 1200px) {
  .header__open-btn {
    display: none;
  }
}

.header__open-btn-line {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #313131db;
  width: 45%;
}

.header__open-btn-line:nth-child(1) {
  top: 15px;
}

.header__open-btn-line:nth-child(2) {
  top: 23px;
}

.header__open-btn-line:nth-child(3) {
  top: 31px;
}

.header__open-btn-line.active:nth-child(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.header__open-btn-line.active:nth-child(2) {
  opacity: 0;
}

.header__open-btn-line.active:nth-child(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.header__nav-sp {
  position: fixed;
  z-index: 999;
  top: -120%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: all 0.6s;
}

@media (min-width: 1200px) {
  .header__nav-sp {
    display: none;
  }
}

.header__nav-sp.active {
  top: 0;
}

.header__sp-site-ttl {
  padding-top: 35px;
}

.header__sub-sitename {
  font-size: 10px;
  display: inline-block;
  line-height: 1.6;
}

.header__sitename-link {
  font-size: 40px;
  color: #313131db;
  font-family: Helvetica Neue;
  letter-spacing: 0.1px;
  font-weight: 500;
}

.header__sitename-link:hover {
  opacity: 0.5;
  transition: all 0.3;
}

.header__twitter {
  width: 30px;
  display: block;
  margin-left: 15px;
}

.header__child-ul {
  list-style: none;
  transition: all 0.3s;
  width: calc(100% + 57px);
  box-sizing: content-box;
  z-index: 1;
  padding: 0 0 25px 0;
}

@media (min-width: 992px) {
  .header__child-ul {
    padding: 10px 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #efefef;
  }
}

.header__li {
  font-size: 16px;
}

.header__li.--has-child {
  margin-right: 35px;
  text-align: right;
  position: relative;
}

.header__li.--has-child:hover > .header__child-ul {
  visibility: visible;
  opacity: 1;
}

.header__li.--has-child:hover .header__has-child-img {
  transform: rotate(-180deg);
  transition: all 0.3s;
}

.header__has-child-li {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 992px) {
  .header__has-child-li {
    padding-bottom: 10px;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 16px;
  }
}

.header__child-li {
  text-align: left;
  padding: 0 0 5px 7px;
}

@media (min-width: 992px) {
  .header__child-li {
    padding: 0 0 5px 34px;
  }
}

.header__child-li:last-child {
  padding-bottom: 0;
}

@media (min-width: 992px) {
  .header__sp-child-line {
    display: none;
  }
}

.header__child-li-link {
  font-size: 16px;
  color: #000;
}

.header__child-li-link:hover {
  opacity: 0.5;
  transition: all 0.3;
}

.header__has-child-img {
  width: 27px;
  margin-right: 5px;
}

.header__hamburger {
  position: fixed;
  top: 14px;
  right: 14px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .header__hamburger {
    display: none;
  }
}

.header__hamburger span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 13px;
  height: 2px;
  background-color: #000;
}

.header__hamburger span:nth-of-type(1) {
  top: 22px;
  width: 50%;
}

.header__hamburger span:nth-of-type(2) {
  top: 29px;
  width: 30%;
}

.header__hamburger.active span:nth-of-type(1) {
  top: 20px;
  left: 16px;
  transform: translateY(6px) rotate(-45deg);
  width: 35%;
}

.header__hamburger.active span:nth-of-type(2) {
  top: 32px;
  left: 16px;
  transform: translateY(-6px) rotate(45deg);
  width: 35%;
}

.page-top {
  position: fixed;
  bottom: 10px;
  z-index: 2;
  opacity: 0;
  margin: 0;
  transform: translateY(100px);
  right: 10px;
  padding-right: 0 !important;
  margin: 0 !important;
}

@media (min-width: 1200px) {
  .page-top {
    right: calc((50% - 1140px / 2));
  }
}

.page-top.--up-move {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-top.--down-move {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

.page-top__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
  line-height: 1.8;
  font-weight: 600;
}

.sidebar-archive {
  margin-top: 30px;
}

.sidebar-archive__ttl {
  margin: 0;
  border-left: 6px solid;
  color: #333;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0px 15px 0px;
  font-size: 20px;
}

.sidebar-archive__ttl.--drink-comparison-record {
  margin-top: 30px;
}

.sidebar-archive__list-wrap {
  list-style: none;
  padding-left: 21px;
  margin-bottom: 30px;
}

.sidebar-archive__list-wrap li {
  margin-bottom: 7px;
  font-size: 17px;
}

.tag-li {
  border: 1px solid #d2d2d2;
  text-align: center;
  display: inline-block;
  padding: 0px 20px;
  margin: 3px 0;
  font-size: 13px;
  color: #000;
}

@media (min-width: 768px) {
  .tag-li {
    font-size: 14px;
  }
}

.tag-li:hover {
  opacity: .5;
  transition: all .3;
}

.tag-li__link {
  color: #000;
  display: block;
  width: 100%;
  padding: 0px 20px;
}
