.l-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  padding: 0 20px;
}

@media (min-width: 576px) {
  .l-container {
    padding-top: 0;
  }
}

@media (min-width: 992px) {
  .l-container {
    flex-direction: row;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .l-container {
    padding: 0;
  }
  .l-container.--mt-xl-0 {
    margin-top: 0;
  }
}

.l-pc-left {
  margin-right: 40px;
  margin-bottom: 30px;
  width: 100%;
}

@media (min-width: 992px) {
  .l-pc-left {
    width: calc((100% - 40px) / 12 * 8);
  }
}

.l-pc-right {
  width: 100%;
}

@media (min-width: 992px) {
  .l-pc-right {
    width: calc((100% - 40px) / 12 * 4);
  }
}
