.l-container {
  padding: 102px 0 0;
  margin: 0 auto;
  display: flex;
  max-width: 1140px;
}

.l-pc-left {
  width: calc((100% - 20px) / 12 * 8);
  margin-right: 20px;
}

.l-pc-right {
  width: calc((100% - 20px) / 12 * 4);
}
