@media (min-width: 1200px) {
  .mv__text-wrap {
    padding: 17px 64px;
  }
}

.mv__text-wrap.--blog {
  color: #fff;
}

.mv__text-wrap.--skill {
  background-color: #0a2c54;
}

.mv__text-wrap.--study {
  background-color: #59a076;
}

.mv__text-wrap.--random {
  background-color: #88466e;
}

.mv__text.--blog {
  font-weight: normal;
}

.mv__scroll {
  position: absolute;
  left: 50%;
  bottom: 10px;
  height: 50px;
}

.mv__scroll::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 25px;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 10px;
    opacity: 0;
  }
  30% {
    height: 25px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

.mv__scroll.--what-i-did::after, .mv__scroll.--tag::after {
  background: #fff;
}

.mv__scroll-text {
  position: absolute;
  left: -20px;
  top: -18px;
  font-size: 1em;
  letter-spacing: 0.05em;
}

.mv__scroll-text.--what-i-did, .mv__scroll-text.--tag {
  color: #fff;
}
