.page-top {
  position: fixed;
  bottom: 10px;
  z-index: 2;
  opacity: 0;
  margin: 0;
  transform: translateY(100px);
  right: 10px;
}

@media (min-width: 1200px) {
  .page-top {
    right: calc((50% - 1140px / 2));
  }
}

.page-top.--up-move {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-top.--down-move {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

.page-top__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
  line-height: 1.8;
  font-weight: 600;
}
