/*-----------------------------------------------
  page-top
-----------------------------------------------*/

.page-top {
  position: fixed;
  bottom: 10px;
  z-index: 2;
  margin: 0;
  right: 10px;
  padding-right: 0 !important;
  margin: 0 !important;
}

@media (min-width: 1200px) {
  .page-top {
    right: calc((50% - 1140px / 2));
  }
}

.page-top__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.3s;
  line-height: 1.8;
  font-weight: 600;
}

.single .page-top.--single-sp {
  display: block;
}

@media (min-width: 992px) {
  .single .page-top.--single-sp {
    display: none;
  }
}