.post .meta {
  margin: 13px 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .post .meta {
    margin: 20px 0;
    text-align: right;
  }
}

.post__ttl {
  color: #000;
  text-align: center;
  margin-top: 36px;
}

@media (min-width: 768px) {
  .post .w-50 {
    width: 50%;
    margin: 40px auto;
  }
}

.post h2 {
  background: rgba(120, 120, 120, 0.1);
  border-left: 6px solid;
  border-color: #000;
  color: #000;
  padding: 15px;
  line-height: 40px;
  margin: 60px 0 40px;
}

.post h3 {
  border-left: 6px solid #000;
  color: #333;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0px 15px 0px;
  font-size: 20px;
  margin: 60px 0 40px 0;
  overflow-wrap: break-word;
}

.post h4 {
  margin: 40px 0 -20px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .post h4 {
    padding: 0 20px;
  }
}

.post .amazon-link a {
  width: 300px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .post div#ez-toc-container {
    display: none;
  }
}

@media (min-width: 768px) {
  .post__bread {
    padding: 2px 2px 0 20px;
  }
}

.post__contents {
  width: 100%;
}

.post__contents .wp-block-image.w-50 {
  padding: 0;
  margin: 40px auto;
}

@media (min-width: 768px) {
  .post__contents .wp-block-image.w-50 {
    width: 50%;
  }
}

.post__contents ul,
.post__contents ol {
  color: #000;
  margin-top: 10px;
  padding-left: 40px;
}

@media (min-width: 768px) {
  .post__contents ul,
  .post__contents ol {
    margin-left: 20px;
  }
}

.post__contents ul li,
.post__contents ol li {
  font-size: 16px !important;
}

.post__post-meta {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .post__post-meta {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .post__post-meta {
    text-align: right;
  }
}

.post .book-img {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .post .book-img {
    width: 150px;
    margin: 0 auto;
  }
}

.post__record-slide-wrap {
  margin: 30px auto 0;
  position: relative;
}

@media (min-width: 768px) {
  .post__record-slide-wrap {
    width: 600px;
  }
}

.post__record-slide .slick-slide {
  height: 600px;
  object-fit: cover;
  overflow: hidden;
}

.post__record-slide .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post .thumbs_dots {
  margin: 10px 0 0;
}

.post .thumbs_dots {
  margin: 10px 0 0;
}

.post .thumbs_list {
  padding-left: 0;
  margin: 0;
}

.post .thumbs_list li {
  display: inline-block;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s;
  width: calc(100% / 4);
  height: 90px;
}

@media (min-width: 576px) {
  .post .thumbs_list li {
    height: calc(180px / 2);
  }
}

.post .thumbs_list li.slick-active {
  opacity: 1;
}

.post h2.--record {
  background: rgba(217, 170, 82, 0.1);
  border-color: #D9AA52;
  margin: 30px 0 30px;
}

.post h2.--purchase {
  margin-bottom: 60px;
}

.post p.--record {
  line-height: 2;
  margin: 20px 0 60px;
}

@media (min-width: 768px) {
  .post p.--record {
    margin: 20px 20px 60px;
  }
}

.post__thumb {
  margin: 40px auto 50px !important;
  width: auto !important;
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .post .wp-block-table {
    margin: 0 20px 1em;
  }
}

.post table {
  text-align: center;
  border-spacing: 0;
}

.post th {
  padding: 10px;
  border: solid 1px #000;
  color: #000;
}

.post td {
  padding: 10px;
  border: solid 1px #000;
  color: #000;
}

.post .g-map {
  max-width: 100%;
}

@media (min-width: 768px) {
  .post .g-map {
    padding: 0 20px;
  }
}

.post .nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  padding-left: 0;
}

.post .nav-links__link {
  color: #000;
  display: flex;
}

.post .nav-links__link:hover {
  opacity: 0.5;
  transition: all 0.3;
}

.post .nav-links__nav {
  width: 50%;
  list-style: none;
}

.post .nav-links__nav span {
  display: flex;
  align-items: center;
}

.post .nav-links__nav.--pre .nav-links__link-icon {
  transform: rotate(-180deg);
  margin-right: 5px;
}

@media (min-width: 1200px) {
  .post .nav-links__nav.--pre .nav-links__link-icon {
    margin-right: 15px;
  }
}

.post .nav-links__nav.--next {
  text-align: right;
  display: flex;
  margin-left: auto;
}

.post .nav-links__nav.--next span {
  justify-content: flex-end;
}

.post .nav-links__nav.--next .nav-links__link-icon {
  margin-left: 5px;
}

@media (min-width: 1200px) {
  .post .nav-links__nav.--next .nav-links__link-icon {
    margin-left: 15px;
  }
}

.post .nav-links__nav.--next .nav-links__link {
  justify-content: flex-end;
}

.post .nav-links__link-icon {
  width: 5px;
}

@media (min-width: 1200px) {
  .post .nav-links__link-icon {
    width: 10px;
  }
}

.post .nav-links__thumb {
  max-width: 85%;
  height: auto;
}

@media (min-width: 1200px) {
  .post .nav-links__thumb {
    max-width: 70%;
  }
}

.post .twitter-tweet {
  margin: 0 auto;
}

.random-blog th {
  background-color: rgba(136, 70, 110, 0.1);
  border-color: rgba(64, 38, 54, 0.6);
}

.random-blog td {
  border-color: rgba(64, 38, 54, 0.6);
}

.study-blog th {
  background-color: rgba(89, 160, 118, 0.1);
  border-color: rgba(64, 38, 54, 0.6);
}

.study-blog td {
  border-color: rgba(64, 38, 54, 0.6);
}

.skill-blog th {
  background-color: rgba(10, 44, 84, 0.1);
  border-color: rgba(10, 44, 84, 0.6);
}

.skill-blog td {
  border-color: rgba(10, 44, 84, 0.6);
}

.record th {
  background-color: rgba(217, 170, 82, 0.1);
  border-color: rgba(10, 44, 84, 0.6);
}

.record td {
  border-color: rgba(10, 44, 84, 0.6);
}

.record h3 {
  border-color: #D9AA52;
}

.study-list-show-post__container {
  border: 1px solid #d2d2d2;
  padding: 20px;
  margin: 20px;
}

.study-list-show-post .wp-show-posts-columns#wpsp-5266 {
  margin-left: 0;
}

.study-list-show-post .wp-show-posts-columns#wpsp-5266 .wp-show-posts-single:nth-child(2n + 1) .wp-show-posts-inner {
  margin-left: 0;
}
