.post-list-ttl {
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0px 15px 0px;
  font-size: 25px;
  color: #333;
}

@media (min-width: 992px) {
  .post-list-ttl {
    text-align: left;
    display: flex;
    justify-content: space-between;
    border-left: 6px solid;
    margin: 0 0 30px 0;
  }
}

.post-list-ttl.--what-i-did {
  border-color: #000;
}

.post-list-ttl.--skill-blog {
  border-color: #0a2c54;
  color: #0a2c54;
}

.post-list-ttl.--study-blog {
  border-color: #59a076;
  color: #59a076;
}

.post-list-ttl.--random-blog {
  border-color: #88466e;
  color: #88466e;
}

.post-list-ttl.--drink-comparison {
  border-color: #d9aa52;
  color: #d9aa52;
}

.post-list-ttl.--diary {
  border-color: #5a8ea1;
  color: #5a8ea1;
}

.post-list-ttl__study-list {
  color: #000;
  display: flex;
  align-items: center;
}

.post-list-ttl__study-list-img {
  width: 24px;
  height: 24px;
}
