.sidebar-archive {
  margin-top: 30px;
}

.sidebar-archive__ttl {
  margin: 0;
  border-left: 6px solid;
  color: #333;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0px 15px 0px;
  font-size: 20px;
}

.sidebar-archive__list-wrap {
  list-style: none;
  padding-left: 21px;
  margin-bottom: 30px;
}

.sidebar-archive__list-wrap li {
  margin-bottom: 7px;
  font-size: 17px;
}
