@media (min-width: 768px) {
  .single-article__bread {
    padding: 2px 2px 0 20px;
  }
}

.single-article__post {
  width: 100%;
}

.single-article__post .wp-block-image.w-50 {
  padding: 0;
  margin: 40px auto;
}

@media (min-width: 768px) {
  .single-article__post .wp-block-image.w-50 {
    width: 50%;
  }
}

.single-article__post-meta {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .single-article__post-meta {
    margin-bottom: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  .single-article__post-meta {
    text-align: right;
  }
}

.single-article .book-img {
  width: 150px;
  margin: 0 auto;
}

.single-article ul {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .single-article ul {
    margin-left: 20px;
  }
}
