@media (min-width: 768px) {
  .single-article__bread {
    padding: 2px 2px 0 20px;
  }
}

.single-article__post {
  width: 100%;
}

.single-article__post .wp-block-image.w-50 {
  padding: 0;
  margin: 40px auto;
}

@media (min-width: 768px) {
  .single-article__post .wp-block-image.w-50 {
    width: 50%;
  }
}

.single-article__post ul,
.single-article__post ol {
  color: #000;
  margin-top: 10px;
  padding-left: 40px;
}

@media (min-width: 768px) {
  .single-article__post ul,
  .single-article__post ol {
    margin-left: 20px;
  }
}

.single-article__post ul li,
.single-article__post ol li {
  font-size: 16px !important;
}

.single-article__post-meta {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .single-article__post-meta {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .single-article__post-meta {
    text-align: right;
  }
}

.single-article .book-img {
  width: 150px;
  margin: 0 auto;
}

.single-article__drink-comparison-record-slide-wrap {
  margin: 30px auto 0;
  position: relative;
}

@media (min-width: 768px) {
  .single-article__drink-comparison-record-slide-wrap {
    width: 600px;
  }
}

.single-article__drink-comparison-record-slide .slick-slide {
  height: 600px;
  object-fit: cover;
  overflow: hidden;
}

.single-article__drink-comparison-record-slide .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-article .thumbs_dots {
  margin: 10px 0 0;
}

.single-article .thumbs_dots {
  margin: 10px 0 0;
}

.single-article .thumbs_list {
  padding-left: 0;
  margin: 0;
}

.single-article .thumbs_list li {
  display: inline-block;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s;
  width: calc(100% / 4);
  height: 90px;
}

@media (min-width: 576px) {
  .single-article .thumbs_list li {
    height: 180px;
  }
}

.single-article .thumbs_list li.slick-active {
  opacity: 1;
}

.single-article h2.--drink-comparison {
  background: rgba(217, 170, 82, 0.1);
  border-color: #d9aa52;
  margin: 30px 0 30px;
}

@media (min-width: 768px) {
  .single-article h2.--drink-comparison {
    margin: 30px 20px 30px;
  }
}

.single-article h2.--purchase {
  margin-bottom: 60px;
}

.single-article p.--drink-comparison {
  line-height: 2;
  margin: 20px 0 60px;
}

@media (min-width: 768px) {
  .single-article p.--drink-comparison {
    margin: 20px 20px 60px;
  }
}

.single-article__thumb {
  margin: 40px auto 50px !important;
  width: auto !important;
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .single-article .wp-block-table {
    margin: 0 20px 1em;
  }
}

.single-article table {
  text-align: center;
  border-spacing: 0;
}

.single-article th {
  padding: 10px;
  border: solid 1px #000;
  color: #000;
}

.single-article td {
  padding: 10px;
  border: solid 1px #000;
  color: #000;
}

.single-article .g-map {
  max-width: 100%;
}

@media (min-width: 768px) {
  .single-article .g-map {
    padding: 0 20px;
  }
}

.random-blog th {
  background-color: rgba(136, 70, 110, 0.1);
  border-color: rgba(64, 38, 54, 0.6);
}

.random-blog td {
  border-color: rgba(64, 38, 54, 0.6);
}

.drink-comparison h3 {
  border-color: #d9aa52;
}
