.tag-list {
  margin-top: 30px;
}

.tag-list .tag-list__wrap {
  flex-direction: row;
}

.tag-list__ttl {
  margin-bottom: 14px !important;
  margin-left: 0 !important;
  border-left: 6px solid;
  color: #333;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0px 15px 0px;
  font-size: 20px;
}

.tag-list__wrap {
  list-style: none;
  padding-left: 21px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.tag-list__li {
  margin-bottom: 7px;
  font-size: 17px;
}

.tag-list .tag-li {
  margin-right: 5px;
  padding: 0;
}
