.top-contact .wpcf7 form.sent .wpcf7-response-output,
.top-contact .wpcf7 form.invalid .wpcf7-response-output {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 11px;
}

@media (min-width: 768px) {
  .top-contact .wpcf7 form.sent .wpcf7-response-output,
  .top-contact .wpcf7 form.invalid .wpcf7-response-output {
    font-size: 14px;
  }
}

.top-contact .wpcf7-not-valid-tip {
  color: red;
}
