@charset "UTF-8";
.top-news {
  display: none;
  /*ニュース1行の周りの余白*/
  /*日付*/
  /*768px以下の見た目 ※1行のままにしたい場合は不要　*/
}

.top-news .slider a {
  display: block;
  background: #fff;
  padding: 20px;
}

.top-news .slider span {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 10px;
  color: #777;
}

@media screen and (max-width: 768px) {
  .top-news .slider {
    padding: 20px;
    background: #fff;
  }
  .top-news .slider li {
    border-bottom: 1px dashed #ccc;
  }
  .top-news .slider li:last-child {
    border-bottom: none;
  }
  .top-news .slider span {
    display: block;
    padding-bottom: 10px;
  }
}
