.top-study-blog {
  background-color: rgba(89, 160, 118, 0.1);
  margin: 0 -15px;
  padding: 25px 15px;
}

@media (min-width: 1200px) {
  .top-study-blog {
    padding: 50px;
  }
}

.top-study-blog__tag-ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-bottom: 10px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.top-study-blog__tag-ul::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1200px) {
  .top-study-blog__tag-ul {
    margin: 0 auto;
  }
}

.top-study-blog__tag-li {
  border-radius: 16px;
  background-color: #fff;
  padding: 0 12px;
  cursor: pointer;
  white-space: nowrap;
  margin: 5px;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .top-study-blog__tag-li {
    margin: 9px;
    font-size: 16px;
  }
}

.top-study-blog__tag-li:first-child {
  margin-left: 0;
}

.top-study-blog__tag-li:hover {
  transition: all 0.3s;
  background-color: #59a076;
  color: #fff;
}

.top-study-blog__tag-li.active {
  transition: all 0.3s;
  background-color: #59a076;
  color: #fff;
}

.top-study-blog__ttl {
  color: #59a076;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.top-study-blog__desc {
  margin-bottom: 20px;
  margin-top: 0;
}

@media (min-width: 576px) {
  .top-study-blog__desc {
    text-align: center;
  }
}

.top-study-blog__hr {
  border: 2px solid #59a076;
  width: 53px;
}

@media (min-width: 1200px) {
  .top-study-blog .more-link.--top-sec {
    margin: 0 auto;
  }
}
