.top-skill-blog {
  background-color: rgba(10, 44, 84, 0.1);
  padding: 50px;
}

.top-skill-blog__tag-ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-bottom: 10px;
  width: 100%;
  overflow-x: scroll;
}

@media (min-width: 1200px) {
  .top-skill-blog__tag-ul {
    justify-content: center;
  }
}

.top-skill-blog__tag-li {
  margin: 9px;
  border-radius: 16px;
  background-color: #fff;
  padding: 0 12px;
  cursor: pointer;
  white-space: nowrap;
}

.top-skill-blog__tag-li:hover {
  transition: all 0.3s;
  background-color: #0a2c54;
  color: #fff;
}

.top-skill-blog__ttl {
  color: #0a2c54;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.top-skill-blog__desc {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.top-skill-blog__hr {
  border: 2px solid #0a2c54;
  width: 53px;
}
