name: Deploy to Server
on:                       
  push:                
    branches: [master]

env:
  theme_name: my-theme

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    
    
    - run: cd dist/ && zip -r ${{ env.theme_name }}.zip ${{ env.theme_name }}/ && mv ${{ env.theme_name }}.zip ${GITHUB_WORKSPACE}

    - name: rsync deployments
      uses: burnett01/rsync-deployments@4.1
      with:
        switches: -avzr
        path: ${{ env.theme_name }}.zip
        remote_path: ${{ secrets.DEPLOY_HOST_PATH }}
        remote_host: ${{ secrets.DEPLOY_HOST_SERVER }}
        remote_port: ${{ secrets.DEPLOY_PORT_SERVER }}
        remote_user: ${{ secrets.DEPLOY_USER_SERVER }}
        remote_key: ${{ secrets.DEPLOY_KEY_SERVER }}